<template>
<v-container class="pa-0" grid-list-md>
    <v-layout row wrap>
        <v-flex xs12 md7>
            <div class="border-min">
                <v-card-title v-show="!show" class="white">
                    <span class="title">Checkout Summary</span>
                </v-card-title>
                <v-card-title class="white">
                    <span><span class="subheading">My Bag</span> ( {{itemsPro}} Items )</span>
                </v-card-title>
                <div class="white" flat v-for="(item, i) in dessert" :key="i">
                    <v-divider light></v-divider>
                    <v-layout>
                        <v-flex xs4 md3>
                            <v-img class="ml-1" :src="item.productRelativeImages[0]" contain></v-img>
                        </v-flex>
                        <v-flex xs8 md9>
                            <v-card-title class="px-0 pb-0">
                                <div>
                                    <div class="title">{{ item.productName }}</div>
                                    <span class="display-1">₹ {{item.productPrice}}</span><br>
                                    <span class="body-1 text_under mr-2">₹ {{item.productActualPrice}}</span><span class="body-1 light-green--text">{{item.productDiscount}}% OFF</span>
                                    <v-layout>
                                        <v-flex xs4>
                                            <v-select :disabled="!show" v-model="item.footSize" :items="item.productSizes" label="Size"></v-select>
                                        </v-flex>
                                        <v-flex xs4>
                                            <v-select :disabled="!show" @change="QtyFunction(i)" v-model="item.Qty" :items="items" label="Qty"></v-select>
                                        </v-flex>
                                    </v-layout>

                                </div>
                            </v-card-title>
                        </v-flex>
                    </v-layout>
                    <v-divider v-show="show" light></v-divider>
                    <v-card-actions class="pa-2 grey lighten-5" v-show="show">
                        <v-btn small flat @click="saveForLater(i)">
                            Save for later
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn small flat @click="removeBagItem(i)">
                            remove
                        </v-btn>
                    </v-card-actions>

                </div>
            </div>
        </v-flex>
        <v-flex xs12 md5>
            <v-card flat class="pa-4 border-min">
                <p class="font-weight-black subheading">
                    Order Summary
                </p>
                <div class="layout justify-space-between font-weight-light mb-4 caption">
                    <span>Total MRP (Inclusive of all taxes)</span>
                    <span>₹ {{totalProductActual}}</span>
                </div>
                <div class="layout justify-space-between font-weight-light mb-4 caption">
                    <span>Shipping Charges</span>
                    <span class="green--text font-weight-bold">FREE</span>
                </div>
                <div class="layout justify-space-between font-weight-light mb-4 caption">
                    <span>Bag Discount</span>
                    <span class="green--text font-weight-bold">- ₹ {{discount}}</span>
                </div>
                <div class="layout justify-space-between subheading font-weight-bold">
                    <span>Payable Amount</span>
                    <span>₹ {{totalProductPrice}}</span>
                </div>
                <div class="layout justify-space-between mb-4 font-weight-medium green--text">
                    <span>You are saving ₹ {{discount}} on this order.</span>
                </div>
                <v-divider></v-divider>
                <div class="layout justify-space-between my-3 subheading font-weight-bold">
                    <span>Final Amount</span>
                    <span>₹ {{totalProductPrice}}</span>
                </div>
                <v-divider></v-divider><br>
                <div>
                    <v-btn v-if="show" large color="primary" block to="/delivery">
                        SELECT DELIVERY ADDRESS
                    </v-btn>
                    <v-btn @click="payment" v-else large color="primary" block>
                        PROCEED TO PAYMENT
                    </v-btn>
                </div>
            </v-card>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>
export default {
    props: ['dessert', 'discount', 'totalProductPrice', 'totalProductActual', 'show', 'itemsPro'],
    data() {
        return {
            sizes: ['uk4', 'uk5', 'uk6', 'uk7', 'uk8', 'uk9', 'uk10'],
            items: ['1', '2', '5', '6'],
        }
    },
    created(){
        this.removePaymentId()
    },
    methods: {
        saveForLater(index) {
            this.$emit('saveForLater', index)
        },
        removeBagItem(index) {
            this.$emit('removeBagItem', index)
        },
        QtyFunction(index){
            this.$emit('QtyFunction', index)
        },
        payment(){
            this.$emit('payment')
        },
        removePaymentId(){
            var paymentId = localStorage.getItem('paymentId')
            if(paymentId){
                localStorage.removeItem('paymentId')
            }
        },
    }
}
</script>
