<template>
<v-container>
    <v-toolbar flat color="white">
        <v-toolbar-title>My Product Category</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" persistent max-width="500px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" @click="add" v-on="on">Add Category</v-btn>
            </template>
            <v-card class="pa-2 radius-min">
                <v-card-title class="pb-0">
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container class="pa-0" grid-list-md>
                        <v-form ref="form" enctype="multipart/form-data">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <div class="layout justify-center">
                                        <div class="editBtn">
                                            <v-btn icon @click="onPickFile" color="primary lighten-2">
                                                <v-icon>edit</v-icon>
                                            </v-btn>
                                        </div>
                                        <input :rules="nameRules" type="file" label="Product Name" ref="fileInput" v-show="false" accept="image/*" @change="onFilePicked">
                                        <v-avatar :tile="false" :size="150" color="grey lighten-4">
                                            <img width="100" :src="imageUrl" :alt="imageUrl">
                                        </v-avatar>
                                    </div>
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox :rules="nameRules" v-model="editedItem.CompoCateName" :items="items" label="Component"></v-combobox>
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox :rules="nameRules" v-model="editedItem.productName" :items="proCat" label="Category Name"></v-combobox>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productActualPrice" type="number" @keyup="getPrecentage" label="Product Actual Price"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productDiscount" type="number" @keyup="getPrecentage" label="Product Discount"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productPrice" type="number" label="Product Price"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea :rules="nameRules" label="Description" auto-grow rows="1" v-model="editedItem.productDescription"></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="close">Cancel</v-btn>
                    <v-btn color="primary" :loading="loading" @click.prevent="submitFile">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar>
    <v-card-actions class="pa-0">
        <v-text-field box v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-card-actions>
    <v-data-table :headers="headers" :items="desserts" :search="search" hide-actions class="elevation-1">
        <template v-slot:items="props">
            <td>
                <v-avatar :tile="true" :size="50" color="grey lighten-4">
                    <img width="50" :src="props.item.productCoverImage" :alt="props.item.productCoverImage">
                </v-avatar>
            </td>
            <td>{{ props.item.CompoCateName }}</td>
            <td>{{ props.item.productName }}</td>
            <td>{{ props.item.productActualPrice }}</td>
            <td>
                <span class="green white--text px-2 py-1 radius-min">
                    {{ props.item.productDiscount }}% Off
                </span>
            </td>
            <td>{{ props.item.productPrice }}</td>
            <td class="justify-center layout px-0">
                <v-btn icon @click="editItem(props.item)">
                    <v-icon small>edit</v-icon>
                </v-btn>
                <v-btn icon @click="deleteItem(props.item)">
                    <v-icon small>delete</v-icon>
                </v-btn>
            </td>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
    </v-data-table>
    <v-card-actions class="border-min">
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-icon>chevron_left</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>chevron_right</v-icon>
        </v-btn>
    </v-card-actions>
</v-container>
</template>

<script>
import postImage from '../../../http/uploadImage'
import getdata from '../../../http/componentCategories'
import getProductCat from '../../../http/productCat'
export default {
    data: () => ({
        search: '',
        nameRules: [
            v => !!v || 'field is required',
        ],
        loading: false,
        imageUrl: '',
        dialog: false,
        discountPercentage: '',
        items: [],
        proCat: [],
        headers: [{
                text: 'Product Image',
                align: 'left',
                sortable: false,
                value: 'productCoverImage'
            },
            {
                text: 'Component Name',
                align: 'left',
                sortable: false,
                value: 'CompoCateName'
            },
            {
                text: 'Product Name',
                align: 'left',
                sortable: false,
                value: 'productName'
            },
            {
                text: 'Product Actual Price',
                value: 'productActualPrice'
            },
            {
                text: 'Product Discount',
                value: 'productDiscount'
            },
            {
                text: 'Product Price',
                value: 'productPrice'
            },
            {
                text: 'Actions',
                value: 'name',
                align: 'center',
                sortable: false

            }
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            CompoCateName: '',
            productName: '',
            productPrice: '',
            productDiscount: '',
            productActualPrice: '',
            productDescription: '',
            productCoverImage: '',
        },
        defaultItem: {
            CompoCateName: '',
            productName: '',
            productPrice: '',
            productDiscount: '',
            productActualPrice: '',
            productDescription: '',
            productCoverImage: '',
        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Add Component' : 'Edit Component'
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.initialize()
        this.getComponent()
        this.getProductsCategory()
    },
    methods: {
        async getProductsCategory() {
            var data = await getProductCat.getProductCat()
            let filterCat = data.data.data
            filterCat.map((value) => {
                this.proCat.push(value.productCateName)
            })
        },
        add() {
            this.imageUrl = ""
            this.$refs.form.resetValidation()
        },
        onPickFile() {
            this.$refs.fileInput.click()
        },
        onFilePicked(event) {
            const files = event.target.files
            this.editedItem.productCoverImage = event.target.files[0]
            let filename = files[0].name
            if (filename.lastIndexOf('.') <= 0) {
                return alert('Please add a vaild file!')
            }
            const fileReader = new FileReader()
            fileReader.addEventListener('load', () => {
                this.imageUrl = fileReader.result
            })
            fileReader.readAsDataURL(files[0])
            this.image = files[0]
        },
        getPrecentage() {
            var price = this.editedItem.productActualPrice
            var dis = this.editedItem.productDiscount
            this.editedItem.productPrice = price - dis / 100 * price

        },
        async initialize() {
            try {
                var data = await postImage.getPosts();
                this.desserts = data

            } catch (err) {
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            }
        },
        async getComponent() {
            let data = await getdata.getcomponent()
            let getComponent = data.data.data
            getComponent.map((value) => {
                this.items.push(value.CompoCateName);
            })

        },
        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.imageUrl = this.editedItem.productCoverImage
            this.dialog = true
        },

        async deleteItem(item) {
            const index = this.desserts.indexOf(item)
            var r = confirm('Are you sure you want to delete this item?')
            if (r == true) {
                this.desserts.splice(index, 1)
                await postImage.deleteImage(item._id)
                    .then(res => {
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                this.loading = false
            } else {
                return false
            }
        },

        close() {
            this.dialog = false
            this.$refs.form.resetValidation()
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },

        async submitFile() {
            if (this.$refs.form.validate()) {
                this.loading = true
                if (this.editedIndex > -1) {
                    var UpdatedformData = new FormData()
                    UpdatedformData.append('CompoCateName', this.editedItem.CompoCateName)
                    UpdatedformData.append('productName', this.editedItem.productName)
                    UpdatedformData.append('productPrice', this.editedItem.productPrice)
                    UpdatedformData.append('productDiscount', this.editedItem.productDiscount)
                    UpdatedformData.append('productActualPrice', this.editedItem.productActualPrice)
                    UpdatedformData.append('productDescription', this.editedItem.productDescription)
                    UpdatedformData.append('file', this.editedItem.productCoverImage)
                    UpdatedformData.append('oldLink', this.desserts[this.editedIndex].productCoverImage)

                    await postImage.updateComponentCatData(UpdatedformData, this.desserts[this.editedIndex]._id)
                        .then(res => {
                            this.editedItem.productCoverImage = res.data.fileLink
                            this.$toast(res.data.message, {
                                color: 'green',
                                dismissable: true
                            })
                            this.loading = false
                        })
                        .catch(err => {
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    var formData = new FormData()
                    formData.append('CompoCateName', this.editedItem.CompoCateName)
                    formData.append('productName', this.editedItem.productName)
                    formData.append('productPrice', this.editedItem.productPrice)
                    formData.append('productDiscount', this.editedItem.productDiscount)
                    formData.append('productActualPrice', this.editedItem.productActualPrice)
                    formData.append('productDescription', this.editedItem.productDescription)
                    formData.append('file', this.editedItem.productCoverImage)

                    await postImage.imageUpload(formData)
                        .then(res => {
                            this.$toast(res.data.message, {
                                color: 'green',
                                dismissable: true
                            })
                            this.loading = false
                            this.initialize()
                        })
                        .catch(err => {
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                }
                this.close()
            }
        }
    }
}
</script>

<style>
.editBtn {
    position: absolute;
    top: 11%;
    left: 54%;
    z-index: 1;
}
</style>
