<template>
<v-container>
    <v-toolbar flat color="white">
        <v-toolbar-title>My Product</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" persistent max-width="500px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Add Product</v-btn>
            </template>
            <v-card class="pa-2 radius-min">
                <v-card-title class="pb-0">
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container class="pa-0" grid-list-md>
                        <v-form ref="form" enctype="multipart/form-data">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <file-pond :rules="nameRules" name="test" ref="pond" label-idle="Drop files here or <span class='filepond--label-action'>Browse</span>" allow-multiple="true" max-files="5" accepted-file-types="image/*" :files="file" />
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox :rules="nameRules" @change="getSizes" v-model="editedItem.typeOfWear" :items="typeOfWear" label="Type of Wear"></v-combobox>
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox :rules="nameRules" v-model="editedItem.productCat" :items="proCat" label="Categories"></v-combobox>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productName" label="Product Name"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productActualPrice" type="number" @keyup="getPrecentage" label="Product Actual Price"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productDiscount" type="number" @keyup="getPrecentage" label="Product Discount"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productPrice" type="number" label="Product Price"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox :rules="nameRules" v-model="editedItem.productColor" :items="color" :search-input.sync="search" hide-selected label="Available Color" multiple persistent-hint small-chips>
                                        <template v-slot:no-data>
                                            <v-list-item>
                                                <v-list-item-content>
                                                    <v-list-item-title>
                                                        No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
                                                    </v-list-item-title>
                                                </v-list-item-content>
                                            </v-list-item>
                                        </template>
                                    </v-combobox>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-combobox :rules="nameRules" v-model="editedItem.productGender" :items="gender" label="For"></v-combobox>
                                </v-flex>
                                <v-flex xs12 sm6 md6>
                                    <v-select :rules="nameRules" v-model="editedItem.productSizes" :items="sizes" label="Available sizes" multiple>
                                        <template v-slot:selection="{ item, index }">
                                            <v-chip v-if="index === 0">
                                                <span>{{ item }}</span>
                                            </v-chip>
                                            <span v-if="index === 1" class="grey--text caption">(+{{ editedItem.productSizes.length - 1 }} others)</span>
                                        </template>
                                    </v-select>
                                </v-flex>
                                <v-flex xs12>
                                    <v-text-field :rules="nameRules" v-model="editedItem.productQuntity" type="number" label="Product Quantity"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-textarea :rules="nameRules" label="Description" auto-grow rows="1" v-model="editedItem.productDescription"></v-textarea>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="close">Cancel</v-btn>
                    <v-btn color="primary" :loading="loading" @click.prevent="submitFile">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar> 
    <v-card-actions class="pa-0">
        <v-text-field box v-model="search1" @keyup="searchVal" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-card-actions>
    <v-data-table :headers="headers" :items="desserts" :search="search1" hide-actions class="elevation-1">
        <template v-slot:items="props">
            <td>
                <v-avatar :tile="true" :size="50" color="grey lighten-4">
                    <img width="50" :src="props.item.productRelativeImages[0]" :alt="props.item.productRelativeImages[0]">
                </v-avatar>
            </td>
            <td>{{ props.item.productName }}</td>
            <td>{{ props.item.productGender }}</td>
            <td>{{ props.item.productActualPrice }}</td>
            <td>
                <span class="green white--text px-2 py-1 radius-min">
                    {{ props.item.productDiscount }}% Off
                </span>
            </td>
            <td>{{ props.item.productPrice }}</td>
            <td class="justify-center layout px-0">
                <!-- <v-btn icon @click="editItem(props.item)">
                    <v-icon small>edit</v-icon>
                </v-btn> -->
                <v-btn icon @click="deleteItem(props.item)">
                    <v-icon small>delete</v-icon>
                </v-btn>
            </td>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
    </v-data-table>
    <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click="getMoreProduct">
            <v-icon>chevron_right</v-icon>
            more
        </v-btn>
    </v-card-actions>
</v-container>
</template>

<script>
import Color from 'css-color-names'
import postImage from '../../../http/uploadImage'
import getImage from '../../../http/Home'
import getdata from '../../../http/componentCategories'
import getProductCat from '../../../http/productCat'
import vueFilePond from 'vue-filepond'
import color_size from '../../../http/size&color'
import 'filepond/dist/filepond.min.css'
import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'

import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type'
import FilePondPluginImagePreview from 'filepond-plugin-image-preview'

const FilePond = vueFilePond(
    FilePondPluginFileValidateType,
    FilePondPluginImagePreview
)
export default {
    components: {
        FilePond
    },
    data: () => ({
        page: 1,
        pageCount: 0,
        itemsPerPage: 10,
        nameRules: [
            v => !!v || 'field is required',
        ],
        typeOfWear: ['Topwear', 'Bottomwear', 'Footwear'],
        gender: ['Male', 'Female', 'Kids'],
        color: [],
        sizes: [],
        file: [],
        myFiles: [],
        loading: false,
        dialog: false,
        discountPercentage: '',
        items: [],
        proCat: [],
        headers: [{
                text: 'Product Image',
                align: 'left',
                sortable: false,
                value: 'productRelativeImages'
            },
            {
                text: 'Product Name',
                align: 'left',
                sortable: false,
                value: 'productName'
            },
            {
                text: 'Gender',
                align: 'left',
                sortable: false,
                value: 'productCat'
            },
            {
                text: 'Product Actual Price',
                value: 'ProductActualPrice'
            },
            {
                text: 'Product Discount',
                value: 'ProductDiscount'
            },
            {
                text: 'Product Price',
                value: 'ProductPrice'
            },
            {
                text: 'Actions',
                value: 'name',
                align: 'center',
                sortable: false

            }
        ],
        search: null,
        search1: null,
        searchCount: 0,
        desserts: [],
        editedIndex: -1,
        editedItem: {
            typeOfWear: '',
            productCat: '',
            productName: '',
            productPrice: '',
            productDiscount: '',
            productActualPrice: '',
            productGender: '',
            productDescription: '',
            productColor: [],
            productSizes: [],
            productQuntity: '',
            productRelativeImages: []
        },
        defaultItem: {
            typeOfWear: '',
            productCat: '',
            productName: '',
            productPrice: '',
            productDiscount: '',
            productActualPrice: '',
            productGender: '',
            productDescription: '',
            productColor: [],
            productSizes: [],
            productQuntity: '',
            productRelativeImages: []

        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'Add Product' : 'Edit Product'
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        },
        'editedItem.productColor'(val) {
            if (val.length > 50) {
                this.$nextTick(() => this.editedItem.productColor.pop())
            }
        }
    },

    created() {
        this.initialize()
        this.getComponent()
        this.getProductsCategory()
        this.getColor()
    },
    methods: {
        async getMoreProduct(){
            this.searchCount = this.searchCount + 1
            if(this.$route.query.search){
                await getImage.search(this.search1, this.searchCount)
                .then(res=>{
                    res.data.data.map(value=>{
                        this.desserts.push(value)
                    })
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }else{
                await postImage.getProducts(this.searchCount)
                .then(res=>{
                    res.data.map(value=>{
                        this.desserts.push(value)
                    }) 
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
        async searchVal(){
            if(this.searach1 == ''){
                this.searchCount = 0
                this.initialize()
            }else{
                this.$router.push({query: { search: this.search1 } })
                await getImage.search(this.search1, this.searchCount)
                .then(res=>{
                    console.log(res)
                    this.desserts = res.data.data
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
        async getSizes() {
            this.sizes = []
            await color_size.getSize()
            .then(res => {
                if (this.editedItem.typeOfWear == 'Footwear') {
                    res.data.data.map(value => {
                        if (value.wearComponent == 'Footwear') {
                            this.sizes.push(value.size)
                        }
                    })
                }else if (this.editedItem.typeOfWear == 'Bottomwear') {
                    res.data.data.map(value => {
                        if (value.wearComponent == 'Bottomwear') {
                            this.sizes.push(value.size)
                        }
                    })
                }else{
                    res.data.data.map(value => {
                        if (value.wearComponent == 'Topwear') {
                            this.sizes.push(value.size)
                        }
                    })
                }
            })
        },
        async getColor() {
            this.color = Object.keys(Color)
        },
        getPrecentage() {
            var price = this.editedItem.productActualPrice
            var dis = this.editedItem.productDiscount
            this.editedItem.productPrice = price - dis / 100 * price

        },
        async initialize() {
            try {
                var data = await postImage.getProducts(this.searchCount);
                this.desserts = data.data
            } catch (err) {
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            }
        },
        async getProductsCategory() {
            var data = await getProductCat.getProductCat()
            let filterCat = data.data.data
            filterCat.map((value) => {
                this.proCat.push(value.productCateName)
            })
        },
        async getComponent() {
            let data = await getdata.getcomponent()
            let getComponent = data.data.data
            getComponent.map((value) => {
                this.items.push(value.CompoCateName);
            })
        },
        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.imageUrl = this.editedItem.productCoverImage
            this.dialog = true
        },

        async deleteItem(item) {
            const index = this.desserts.indexOf(item)
            var r = confirm('Are you sure you want to delete this item?')
            if (r == true) {
                this.desserts.splice(index, 1)
                await postImage.deleteProductData(item._id)
                    .then(res => {
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                return false
            }
        },

        close() {
            this.dialog = false
            this.$refs.form.resetValidation()
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },

        async submitFile() {
            if (this.$refs.form.validate()) {

                this.loading = true
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    this.myFiles = this.$refs.pond.getFiles()
                    let _count = 0
                    let images = []
                    for (let i = 0; i < this.myFiles.length; i++) {
                        var formData = new FormData()
                        formData.append('file', this.myFiles[i].file)
                        await postImage.upload(formData)
                            .then((res) => {
                                images.push(res.data)
                                if (++_count == this.myFiles.length) {
                                    this.editedItem.productRelativeImages = images
                                    postImage.uploadProductData(this.editedItem)
                                        .then((res) => {
                                            this.$toast(res.data.message, {
                                                color: 'green',
                                                dismissable: true
                                            })
                                            this.loading = false
                                            this.initialize()
                                        })
                                        .catch(err => {
                                            this.loading = false
                                            this.$toast(err.message, {
                                                color: 'red',
                                                dismissable: true
                                            })
                                        })
                                }
                            })
                            .catch(err => {
                                this.$toast(err.message, {
                                    color: 'red',
                                    dismissable: true
                                })
                            })
                    }
                }
                this.close()
            }
        }
    }
}
</script>

<style>
.editBtn {
    position: absolute;
    top: 11%;
    left: 54%;
    z-index: 1;
}

@media (min-width: 30em) {
    .filepond--item {
        width: calc(50% - .5em);
    }
}

@media (min-width: 50em) {
    .filepond--item {
        width: calc(33.33% - .5em);
    }
}

.filepond--file-action-button {
    cursor: pointer;
}

/* the text color of the drop label*/
.filepond--drop-label {
    color: #555;
}

/* underline color for "Browse" button */
.filepond--label-action {
    text-decoration-color: #aaa;
}

/* the background color of the filepond drop area */
.filepond--panel-root {
    background-color: #eee;
}

/* the border radius of the drop area */
.filepond--panel-root {
    border-radius: 0.5em;
}

/* the border radius of the file item */
.filepond--item-panel {
    border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */
.filepond--item-panel {
    background-color: #555;
}

/* the background color of the drop circle */
.filepond--drip-blob {
    background-color: #999;
}

/* the background color of the black action buttons */
.filepond--file-action-button {
    background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */
.filepond--file-action-button {
    color: white;
}

/* the color of the focus ring */
.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */
.filepond--file {
    color: white;
}

/* error state color */
[data-filepond-item-state*='error'] .filepond--item-panel,
[data-filepond-item-state*='invalid'] .filepond--item-panel {
    background-color: red;
}

[data-filepond-item-state='processing-complete'] .filepond--item-panel {
    background-color: green;
}

/* bordered drop area */
.filepond--panel-root {
    background-color: transparent;
    border: 2px solid #2c3340;
}
</style>
