<template>
<v-container class="pa-0 mt-3" fluid grid-list-md>
    <!-- <Loading v-if="images == ''" /> -->
    <v-layout row wrap>
        <v-flex xs12 sm3 md3>
            <v-card flat class="radius-min hidden-md-only hidden-lg-only hidden-xl-only">
                <v-expansion-panel popout>
                    <v-expansion-panel-content expand-icon="filter_list">
                        <template v-slot:header>
                            <div class="font-weight-bold font-italic title">Filter</div>
                        </template>
                        <v-expansion-panel popout>
                            <v-expansion-panel-content v-for="(item,i) in gender" :key="i">
                                <template v-slot:header>
                                    <div class="font-weight-bold">{{ item.name }}</div>
                                </template>
                                <v-card class="grey lighten-3">
                                    <v-card-text>
                                        <v-checkbox color="primary" class="ma-1" v-for="(item, i) in item.items" :key="i" v-model="selectedG" :label="item" :value="item" hide-details @change="filter"></v-checkbox>
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-divider></v-divider>
                        <v-expansion-panel popout>
                            <v-expansion-panel-content v-for="(item,i) in sizes" :key="i">
                                <template v-slot:header>
                                    <div class="font-weight-bold">{{ item.name }}</div>
                                </template>
                                <v-card class="grey lighten-3">
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex xs4 v-for="(item, i) in item.items" :key="i">
                                                <v-checkbox color="primary" v-model="selectedS" :label="item" :value="item" hide-details @change="filter"></v-checkbox>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-divider></v-divider>
                        <v-expansion-panel popout>
                            <v-expansion-panel-content v-for="(item,i) in color" :key="i">
                                <template v-slot:header>
                                    <div class="font-weight-bold">{{ item.name }}</div>
                                </template>
                                <v-card class="grey lighten-3">
                                    <v-card-text>
                                        <v-layout row wrap>
                                            <v-flex xs6 v-for="(item, i) in item.items" :key="i">
                                                <v-checkbox :color="item" v-model="selectedC" :label="item" :value="item" hide-details @change="filter"></v-checkbox>
                                            </v-flex>
                                        </v-layout>
                                    </v-card-text>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-divider></v-divider>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-divider></v-divider>
            </v-card>

            <v-card flat class="radius-min pa-2 hidden-xs-only hidden-sm-only">
                <h2 class="pa-3 font-italic">Filter</h2>
                <v-divider></v-divider>
                <v-expansion-panel  popout>
                    <v-expansion-panel-content v-for="(item,i) in gender" :key="i">
                        <template v-slot:header>
                            <div class="font-weight-bold">{{ item.name }}</div>
                        </template>
                        <v-card class="grey lighten-3">
                            <v-card-text>
                                <v-checkbox color="primary" class="ma-0 pa-0" v-for="(item, i) in item.items" :key="i" v-model="selectedG" :label="item" :value="item" hide-details @change="filter"></v-checkbox>
                            </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-divider></v-divider>
                <v-expansion-panel popout>
                    <v-expansion-panel-content v-for="(item,i) in sizes" :key="i">
                        <template v-slot:header>
                            <div class="font-weight-bold">{{ item.name }}</div>
                        </template>
                        <v-card class="grey lighten-3">
                            <v-card-text>
                                <v-checkbox class="pa-0 ma-0" v-for="(item, i) in item.items" :key="i" color="primary" v-model="selectedS" :label="item" :value="item" hide-details @change="filter"></v-checkbox>
                            </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-divider></v-divider>
                <v-expansion-panel popout>
                    <v-expansion-panel-content v-for="(item,i) in color" :key="i">
                        <template v-slot:header>
                            <div class="font-weight-bold">{{ item.name }}</div>
                        </template>
                        <v-card class="grey lighten-3">
                            <v-card-text>
                                <v-checkbox class="pa-0 ma-0" xs6 v-for="(item, i) in item.items" :key="i" :color="item" v-model="selectedC" :label="item" :value="item" hide-details @change="filter"></v-checkbox>
                            </v-card-text>
                        </v-card>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-divider></v-divider>
            </v-card>
        </v-flex>
        <v-flex xs12 sm9 md9>
            <h1 class="pa-2">Search Results For: {{search}} ({{searchCount}})</h1>
            <v-layout row wrap>
                <v-flex xs6 sm4 md3 v-for="(image, index) in images" :key="index">
                    <ProductCard @favorite="favoritePro" :_id="image._id" :idnum="index" :proName="image.productName" :image="image.productRelativeImages" :proDisc="image.productDescription" :price="image.productPrice" :disc="image.productDiscount" :actPrice="image.productActualPrice" :favoritePro="image.favorite" />
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>
// import Loading from '../../../components/SheraLoader/Loading'
import ProductCard from '../../../components/Cards/ProductCard'
import getImage from '../../../http/Home'
import getData from '../../../http/uploadImage'
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
import color_size from '../../../http/size&color'
import filter from '../../../http/filter'
Vue.use(VueJWT)
export default {
    components: {
        ProductCard,
        // Loading
    },
    data() {
        return {
            searchCount: '',
            search: '',
            offsetTop: 0,
            selectedG: [],
            selectedS: [],
            selectedC: [],
            count: 0,
            gender: [{
                name: "Gender",
                items: [
                    "Men",
                    "Women",
                    "Kids"
                ],
            }],
            sizes: [{
                name: "Sizes",
                items: []
            }],
            color: [{
                    name: "Color",
                    items: []
                }

            ],
            short: [{
                name: "Short By Popular",
                items: [
                    "New",
                    "Popular",
                    "price: Low to High",
                    "price: High to Low"
                ]
            }],
            images: []
        }
    },
    mounted() {
        this.$root.$on('filter', ()=>{
            this.searchBygender()
        })
        this.$root.$on('search', () =>{
            this.searchVal()
        })
        this.scroll();
    },
    created() {
        this.initialize();
        this.getSizes()
        this.getColor()
    },
    methods: {
        async getSizes() {
            await color_size.getSize()
                .then(res => {
                    res.data.data.map(value => {
                        this.sizes[0].items.push(value.size)
                    })
                })
        },
        async getColor() {
            await color_size.getColor()
                .then(res => {
                    res.data.data.map(value => {
                        this.color[0].items.push(value.color)
                    })
                })
        },
        async filter() {
            const filterKeys = {
                size: this.selectedS,
                color: this.selectedC,
                gender: this.selectedG
            }
            filter.productfilter(filterKeys)
                .then(res => {
                    if (res.data.data.length === 0) {
                        this.initialize()
                    } else {
                        this.images = res.data.data
                    }
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },
        async favoritePro(index) {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                if (this.images[index].favorite == 'favorite') {
                    this.images[index].favorite = 'favorite_border'
                } else {
                    this.images[index].favorite = 'favorite'
                }
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.favoriteItem(this.images[index], verifyUserData._id, this.images[index]._id)
                    .then(() => {
                        this.$root.$emit('checkStorageData')
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                this.$root.$emit('dialog')
            } 
        },
        async searchVal(){
            this.search = this.$route.query.product
            await getImage.search(this.$route.query.product, this.count)
            .then(res=>{
                this.searchCount = res.data.count
                this.images = res.data.data
            })
            .catch(err=>{
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        },
        async searchBygender(){
            await getData.genderByProduct(this.$route.query.gender, this.$route.query.productType, this.$route.query.productCateName, this.count)
            .then(res=>{
                this.search = this.$route.query.productCateName
                this.searchCount = res.data.count
                this.images = res.data.data
            })
            .catch(err => {
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        },
        async initialize() {  
            if (this.$route.query.product) {
                await getImage.search(this.$route.query.product, this.count)
                .then(res=>{
                    res.data.data.map(value=>{
                        this.images.push(value)
                    })
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }else if(this.$route.query.productType){
                await getData.genderByProduct(this.$route.query.gender, this.$route.query.productType, this.$route.query.productCateName, this.count)
                .then(res=>{
                    this.search = this.$route.query.productCateName
                    res.data.data.map(value=>{
                        this.images.push(value)
                    })
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }else{
                await getImage.getProducts(this.$route.query.productname, this.count)
                .then(res => {
                    this.search = this.$route.query.productname
                    this.searchCount = res.data.count
                    res.data.data.map(value=>{
                        this.images.push(value)
                    })    
                })
            } 
            const getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                getImage.getFavoriteList(verifyUserData._id)
                .then(res=>{
                    if (res.data.Data) {
                        res.data.Data.forEach(item=>{
                            var _id = item._id
                            var fev = item.favorite
                            this.images.forEach(value =>{
                                if (value._id == _id) {
                                    value.favorite = fev
                                }
                            })
                        });
                        this.$root.$emit('checkStorageData')
                    }
                })
                .catch(err=>{
                this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }else{
                this.$root.$emit('checkStorageData')
            }  
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    this.count = this.count + 1
                    this.initialize()
                }
            }
        }
    }
}
</script>
