<template>
<v-container>
    <v-toolbar flat class="white">
        <v-toolbar-title>Sizes</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark v-on="on">Add Size</v-btn>
            </template>
            <v-card class="pa-3">
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-form ref="form" v-model="valid" :lazy-validation="lazy">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field v-model="editedItem.size" :rules="nameRules" label="Size"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-combobox v-model="editedItem.wearComponent" :rules="nameRules" :items="wearComponent" label="Select a favorite activity or create a new one"></v-combobox>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="close">Cancel</v-btn>
                    <v-btn color="primary" @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar>
    <v-card-actions class="pa-0">
        <v-text-field box v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-card-actions>
    <v-data-table :headers="headers" :items="desserts" :search="search" hide-actions class="elevation-1">
        <template v-slot:items="props">
            <td>{{ props.item.wearComponent }}</td>
            <td>{{ props.item.size }}</td>
            <td class="justify-center layout px-0">
                <v-btn flat icon @click="editItem(props.item)">
                    <v-icon @click="editItem(props.item)" small>
                        edit
                    </v-icon>
                </v-btn>
                <v-btn flat icon @click="deleteItem(props.item)">
                    <v-icon small>
                        delete
                    </v-icon>
                </v-btn>
            </td>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
    </v-data-table>
    <v-card-actions class="border-min">
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-icon>chevron_left</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>chevron_right</v-icon>
        </v-btn>
    </v-card-actions>
</v-container>
</template>

<script>
import size_color from '../../../http/size&color'
export default {
    data: () => ({
        search: '',
        lazy: false,
        valid: true,
        nameRules: [
            v => !!v || 'field is required',
        ],
        dialog: false,
        headers: [{
                text: 'Cotegory Name',
                align: 'left',
                sortable: false,
                value: 'wearComponent'
            },
            {
                text: 'Wear Type',
                align: 'left',
                sortable: false,
                value: 'size'
            },
            {
                text: 'Actions',
                value: 'name',
                align: 'center',
                sortable: false
            }
        ],
        wearComponent: ['Footwear', 'Bottomwear', 'Topwear'],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            wearComponent: '',
            size: ''
        },
        defaultItem: {
            wearComponent: '',
            size: ''
        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.initialize()
    },

    methods: {
        async initialize() {
            await size_color.getSize()
                .then(res => {
                    this.desserts = res.data.data
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },

        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        async deleteItem(item) {
            const index = this.desserts.indexOf(item)
            var r = confirm('Are you sure you want to delete this item?')
            if (r == true) {
                this.desserts.splice(index, 1)
                await size_color.deleteSize(item._id)
                    .then(res => {
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                return false
            }
        },

        close() {
            this.dialog = false
            this.$refs.form.resetValidation()
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },

        async save() {
            if (this.$refs.form.validate()) {
                if (this.editedIndex > -1) {
                    await size_color.updateSize(this.desserts[this.editedIndex]._id, this.editedItem)
                    .then(res=>{
                        this.close()
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                        Object.assign(this.desserts[this.editedIndex], this.editedItem)
                    })
                    .catch(err=>{
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                } else {
                    await size_color.postSize(this.editedItem)
                    .then(res => {
                        this.close()
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                        this.desserts.push(this.editedItem)
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                }
            }
        }
    }
}
</script>
