<template>
<div>
    <v-toolbar flat color="white">
        <v-toolbar-title>Orders</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-actions class="pa-0">
        <v-text-field box v-model="search" @keyup="searchOrder" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-card-actions>
    <v-data-table :headers="headers" hide-actions :items="desserts">
        <template v-slot:items="props">
            <td>{{ props.item.paymentType }}</td>
            <td>{{ props.item.Address.RecieverName }}</td>
            <td>{{ props.item.Address.PhoneNumber }}</td>
            <td>{{ props.item.productDetails.length }}</td>
            <td>
                <v-layout>
                    <v-dialog v-model="dialog" persistent max-width="700px">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary" dark v-on="on">View</v-btn>
                        </template>
                        <v-card class="py-2">
                            <v-btn icon flat @click="dialog = false" class="icon_right">
                                <v-icon>close</v-icon>
                            </v-btn>
                            <div>
                                <v-card-title class="white">
                                    <span class="title">{{props.item.Address.RecieverName}}</span>
                                </v-card-title>

                                <div class="white" flat>
                                
                                    <div v-for="(item, i) in props.item.productDetails" :key="i">
                                    <v-divider light></v-divider>
                                    <v-layout wrap row>
                                        <v-flex xs12 md4>
                                            <v-img :src="item.productRelativeImages[0]" contain></v-img>
                                        </v-flex>
                                        <v-flex xs12 md8>
                                            <v-card-title>
                                                <div>
                                                    <span class="title">{{item.productName}}</span><br><br>
                                                    <span class="body-1 mr-2">₹ {{item.productPrice}}</span>
                                                    <span class="body-1 text_under mr-2">₹ {{item.productActualPrice}}</span>
                                                    <span class="body-1 light-green--text mr-2">{{item.productDiscount}}% OFF</span>
                                                    <span class="border-min pa-2 mr-2">Size: {{item.productSizes[0]}}</span>
                                                    <span class="border-min pa-2 mr-2">Qty: {{item.productSizes[0]}}</span>
                                                    <span class="border-min pa-2">Gender: {{item.productGender}}</span>
                                                </div>
                                            </v-card-title>
                           
                                                <div class="grey lighten-4 pa-2 mx-2">
                                                    <span class="font-weight-medium">RecieverName: </span>{{props.item.Address.RecieverName}}<br>
                                                    <span class="font-weight-medium">Address: </span>{{props.item.Address.Address}}<br>
                                                    <span class="font-weight-medium">AlternateNo: </span>{{props.item.Address.AlternateNo}},
                                                    <span class="font-weight-medium">PhoneNumber: </span>{{props.item.Address.PhoneNumber}}<br>
                                                    <span class="font-weight-medium">Country: </span>{{props.item.Address.Country}},
                                                    <span class="font-weight-medium">City: </span>{{props.item.Address.City}},
                                                    <span class="font-weight-medium">Landmark: </span>{{props.item.Address.Landmark}},<br>
                                                    <span class="font-weight-medium">Locality: </span>{{props.item.Address.Locality}}
                                                    <span class="font-weight-medium">PinCode: </span>{{props.item.Address.PinCode}}
                                                    <span class="font-weight-medium">State: </span>{{props.item.Address.State}}<br>
                                                    <span class="font-weight-medium">ThisIsMy: </span>{{props.item.Address.ThisIsMy}}
                                                </div>
                                            
                                        </v-flex>
                                    </v-layout>
                                    </div>
                                </div>
                            </div>

                        </v-card>
                    </v-dialog>
                </v-layout>
            </td>
            <td>
                <v-select v-model="props.item.status" @change="UpdateOrder(props.item)" :items="items" label="Standard"></v-select>
            </td>
        </template>
    </v-data-table>
    <v-card-actions class="border-min">
        <v-spacer></v-spacer>
        <v-btn icon>
            <v-icon>chevron_left</v-icon>
        </v-btn>
        <v-btn icon>
            <v-icon>chevron_right</v-icon>
        </v-btn>
    </v-card-actions>
</div>
</template>

<script>
import products from '../../http/uploadImage'
import searchOrder from '../../http/subscribe'
export default {
    data() {
        return {
            dialog: false,
            search: '',
            pagination: {},
            items: ['Customer Order', 'Factory Send Out', 'Deliver To Customer', 'Customer Received'],
            headers: [{
                    text: 'Payment Type',
                    align: 'left',
                    sortable: false,
                    value: 'PaymentType'
                },
                {
                    text: 'Reciever Name',
                    align: 'left',
                    sortable: false,
                    value: 'RecieverName'
                },
                {
                    text: 'Mobile',
                    value: 'PhoneNumber'
                },
                {
                    text: 'Product Item',
                    value: 'productDetails'
                },
                {
                    text: 'View Item',
                    value: 'view'
                },
                {
                    text: 'Status',
                    value: 'Status'
                }
            ],
            count: 0,
            desserts: []
        }
    },
    created() {
        this.Orders()
    },
    methods: {
        async searchOrder(){
            if(this.search == ''){
                this.count = 0
                this.Orders()

            }else{
                await searchOrder.searchOrder(this.count, this.search, this.search, this.search)
                .then(res=>{
                    console.log(res)
                    this.desserts = res.data.data
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
        async Orders() {
            await products.orders()
            .then(res => {
                console.log(res)
                this.desserts = res.data.data
            })
            .catch(err=>{
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        },
        async UpdateOrder(item){
            var data = {
                status: item.status
            }
            await products.updateOrderData(data, item._id)
            .then(res=>{
                this.Orders()
                this.$toast(res.data.message, {
                    color: 'green',
                    dismissable: true
                })
            })
            .catch(err=>{
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        }
    }
}
</script>
