<template>
  <v-card>
    <v-card-title>
      <v-toolbar-title>Order List</v-toolbar-title>
      <v-divider
        class="mx-2"
        inset
        vertical
      ></v-divider>
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    >
      <template v-slot:items="props">
        <td>{{ props.item.productDetails.length }}</td>
        <td class="text-xs-left">Done</td>
        <td class="text-xs-left">Not Done</td>
        <td class="text-xs-left">
          <v-btn flat>
            Track Order
          </v-btn>
          </td>
      </template>
      <template v-slot:no-results>
        <v-alert :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </template>
    </v-data-table>
  </v-card>
</template>


<script>
  export default {
    props:['headers', 'desserts'],
    data () {
      return {
        search: ''
      }
    },
    created(){
      this.ddd()
    },
    methods:{
      ddd(){
        console.log(this.desserts)
      }
    }
  }
</script>