<template>
<div>
    <Loading v-if="all == ''" />
    <div v-else>
    <Slider :mainSlider="mainSlider" />
    <v-container fluid class="mx-0 pa-0">
        <DabSale :colerOfTheMonth="colerOfTheMonth" :categories="categories" :category="category"  />
        <DesignOfTheDay :DesignOfTheday="DesignOfTheday" />
        <AboutUsCard v-show="false" />
        <HottestSeller :HottestSeller="HottestSeller" />
        <RecommendedCollections :RecommendedCollections="RecommendedCollections" />
        <Brands :Brands="Brands" />
        <GraphicCard :Graphic="Graphic" />
        <SubSlider />
    </v-container>
    </div>
</div>
</template>

<script>
import Loading from '../../../components/SheraLoader/Loading'
import getImage from '../../../http/uploadImage'
import Slider from '../../../components/Slider/Slider'
import SubSlider from '../../../components/Slider/SubSlider'
import DabSale from '../../../components/Cards/DabSale'
import DesignOfTheDay from '../../../components/Cards/designOfTheDay'
import AboutUsCard from '../../../components/Cards/AboutUsCard'
import HottestSeller from '../../../components/Cards/HottstSeller'
import RecommendedCollections from '../../../components/Cards/RecommendedCollections'
import Brands from '../../../components/Cards/Brands'
import GraphicCard from '../../../components/Cards/Graphic'
export default {
    components: {
        Slider,
        SubSlider,
        DabSale,
        DesignOfTheDay,
        AboutUsCard,
        HottestSeller,
        RecommendedCollections,
        Brands,
        GraphicCard,
        Loading
    },
    data(){
        return{
            all: [],
            mainSlider:[],
            category: '',
            colerOfTheMonth:'',
            categories:[],
            DesignOfTheday:[],
            HottestSeller: [],
            RecommendedCollections:[],
            Brands:[],
            Graphic: []
        }
    },
    created() {
        this.initialize();
    },
    methods: {
        async initialize() {
            try {
                var data = await getImage.getPosts();
                data.map((value) => {
                    this.all.push(value)
                    if (value.CompoCateName === 'main slider') {
                        this.mainSlider.push(value)
                    }
                });
                data.map((value) => {
                    if (value.CompoCateName === 'categories'){
                        this.categories.push(value)
                    }
                   
                });
                data.map((value) => {
               
                    if (value.CompoCateName === 'color of the month'){
                        this.colerOfTheMonth = value
                    }
                });
                data.map((value) => {
                    if (value.CompoCateName === 'design of the day'){
                        this.DesignOfTheday.push(value)
                    }
                });
                data.map((value) => {
                    if (value.CompoCateName === 'recommended collections'){
                        this.RecommendedCollections.push(value.productCoverImage)
                    }
                });
                data.map((value) => {
                    if (value.CompoCateName === 'brands'){
                        this.Brands.push(value.productCoverImage)
                    }
                });
                data.map((value) => {
                    if (value.CompoCateName === 'graphic flip-flops'){
                        this.Graphic.push(value.productCoverImage)
                    }
                });
            } catch (err) {
                this.snackbar = true
                this.color = 'error'
                this.text = err.message;
            }
        },
    }
}
</script>
