<template>
<div class="loading">
    <span class="white card">
        <img src="minimalist-transparent-loading-gif-9.gif" width="200px" alt="loading">
    </span>
</div>
</template>

<style>
.loading {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #211e1d5c;
}
.card{
    border-radius: 20px;
}
</style>
