<template>
<v-container class="pa-0 my-3" grid-list-md>
    <Cart v-if="dessert != ''" :dessert="dessert" @saveForLater="saveForLater" @removeBagItem="removeBagItem" :itemsPro="items" :discount="discount" :totalProductPrice="totalProductPrice" :totalProductActual="totalProductActual" :show="true" @QtyFunction="QtyFunction"/>
    <empty v-else />
</v-container>
</template>

<script>
import getImage from '../../../http/Home'
import Cart from '../../../components/cart/cart'
import empty from "../../../components/empty/empty"
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    components:{
        Cart,
        empty
    },
    data() {
        return {
            items: '',
            discount: '',
            totalProductPrice: '',
            totalProductActual: '',
            dessert: [],
        }
    },
    created() {
        this.fatchBegIte()
    },
    methods: {
        async QtyFunction(index){
            // const productPrice = parseInt(this.dessert[index].productPrice) * parseInt(this.dessert[index].Qty)
            const qty = {
                Qty: this.dessert[index].Qty,
                footSize: this.dessert[index].footSize
            }
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.increaseQtyFunc(verifyUserData._id, this.dessert[index]._id, qty)
                .then(res=>{
                    console.log(res)
                    this.fatchBegIte()
                    // this.dessert[index].productPrice = productPrice
                })
                .catch(err=>{
                    console.log(err)
                })
            }
        },
        async saveForLater(index) {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.saveForLater(this.dessert[index], verifyUserData._id, this.dessert[index]._id)
                .then(res => {
                    if (res.data.status == 'success') {
                        this.dessert.splice(index, 1)
                        this.$root.$emit('checkStorageData')
                        this.$root.$emit('fatchBegLength')
                        this.fatchBegIte()
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    } else {
                        this.$toast(res.data.message, {
                            color: 'orange',
                            dismissable: true
                        })
                    }
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'green',
                        dismissable: true
                    })
                })
            }
        },
        async removeBagItem(index) {
            const conf = confirm('Are you sure you want to remove this item')
            if (conf) {
                var getToken = localStorage.getItem('token')
                if (getToken) {
                    const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                    await getImage.removeBagItem(verifyUserData._id, this.dessert[index]._id)
                    .then(res => {
                        this.dessert.splice(index, 1)
                        this.fatchBegIte()
                        this.$root.$emit('fatchBegLength')
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err => {
                        this.$root.$emit('fatchBegLength')
                        this.$toast(err, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                }
            }
        },
        async fatchBegIte() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.getBagList(verifyUserData._id)
                .then(res => {
                    this.dessert = res.data.Data
                  
                    const productPrice = []
                    const actualPrice = []
                    const QtyNum = []
                    this.dessert.forEach(value => {
                        productPrice.push(parseInt(value.productPrice) * parseInt(value.Qty))
                        actualPrice.push(parseInt(value.productActualPrice) * parseInt(value.Qty))
                        QtyNum.push(parseInt(value.Qty))
                    })
                    this.items = QtyNum.reduce((a, b) => a + b, 0)
                    this.totalProductPrice = productPrice.reduce((a, b) => a + b, 0)
                    this.totalProductActual = actualPrice.reduce((a, b) => a + b, 0)
                    this.discount = (this.totalProductActual - this.totalProductPrice)
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
    }
}
</script>

<style>
.text_under {
    text-decoration: line-through
}
</style>
