<template>
<v-container class="layout column align-center justify-center">
    <img width="15%" src="https://i.ya-webdesign.com/images/sack-drawing-empty-6.png">
    <p class="title mt-3 grey--text">Your beg is empty</p>

    <v-btn dark large color="primary mt-3" to='/'>
        Continue shopping
    </v-btn>
</v-container>
</template>
