<template>
    <v-container class="pa-0">
        <v-layout row wrap>
            <v-flex xs12 class="px-1 mb-2">
                <img width="100%" src="https://images.bewakoof.com/uploads/grid/app/desktop-3x1-1554101875.jpg" />
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>
export default {
    data(){
        return{

        }
    }
}
</script>