<template>
    <div v-if="Brands != ''">
        <div class="title_text font-weight-light layout column align-center">
            <span>Brands</span>
            <span class="primary outlineHeader"></span>
        </div>
        <v-layout row justify-center wrap class="mt-1">
            <v-flex v-for="(image, i) in Brands" :key="i" xs6 sm4 md2 class="px-1 mb-2">
                <img width="100%" :src="image" />
            </v-flex>
        </v-layout>
    </div>
</template>
<script>
export default {
    props:['Brands'],
}
</script>