<template>
<v-container class="pa-0 mt-2">
    <v-card  v-if="colerOfTheMonth != ''" flat :to="{name: 'filter', query: { productname: colerOfTheMonth.productName } }">
        <img width="100%" :src="colerOfTheMonth.productCoverImage" />
    </v-card>
    <div v-if="categories != ''">
        <div class="title_text font-weight-light layout column align-center">
            <span>Categories</span>
            <span class="primary outlineHeader"></span>
        </div>
        <v-layout row justify-center wrap class="mt-1">
            <v-flex v-for="(image, i) in categories" :key="i" xs4 sm4 md2 class="px-1 mb-2">
                <v-card flat :to="{name: 'filter', query: { productname: image.productName } }">
                    <img width="100%" :src="image.productCoverImage" />
            </v-card>
            </v-flex>
        </v-layout>
    </div>
</v-container>
</template>

<script>
// import postedProduct from '../../http/Home'
export default {
    props: ['colerOfTheMonth', 'categories', 'category'],
}
</script>


