<template>
<v-container class="pa-0" v-if="HottestSeller != ''">
    <div class="title_text layout column align-center">
        <span>Hotter Seller</span>
        <span class="primary outlineHeader"></span>
    </div>
    <v-layout row wrap class="mt-1">
        <v-flex v-for="(image, i) in HottestSeller" :key="i" xs6 class="px-1 mb-2">
            <v-card flat :to="{name: 'filter', query: { productname: image.productName } }">
                <img width="100%" :src="image.productCoverImage" />
            </v-card>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>
export default {
    props: ['HottestSeller']
}
</script>
