<template>
<v-card flat class="grey lighten-5 pa-2 mt-1">
    <v-container class="pa-0" fluid grid-list-sm>
        <v-layout row wrap>
            <v-flex xs12 md4>
                <img width="100%" :src="image[0]">
            </v-flex>
            <v-flex xs12 md8>
                <v-card-title class="pt-1">
                    <div>
                        <div class="text-capitalize title font-weight-light">{{ name }}</div>
                        <span class="subheading grey--text mr-2">₹ {{ productPrice }}</span>|
                        <span class="subheading grey--text">Size: {{ footSize }}</span>
                    </div>
                </v-card-title>
                <v-card-title class="py-0">
                    <div class="text-capitalize font-weight-medium grey--text mr-3">ORDER DATE <br> <span class="black--text">{{ Dates }}</span></div>
                    <div class="text-capitalize font-weight-medium grey--text">ORDER ID <br> <span class="black--text">28107239</span></div>
                </v-card-title>
            </v-flex>
        </v-layout>
    </v-container>
</v-card>
</template>

<script>
import moment from 'moment'
export default {
    props: ['name', 'productPrice', 'footSize', 'date', 'image'],
    data() {
        return {
            active: 'Success'
        }
    },
    computed: {
      Dates() {
        return this.date ? moment(this.date).format('dddd, MMMM Do YYYY') : ''
      }
    }
}
</script>
