<template>
<v-card flat>
    <v-btn @click="favorite(idnum)" icon color="white" class="icon_right">
        <v-icon :class="favoritePro">{{ favoritePro }}</v-icon>
    </v-btn>
    <v-card flat :to="{ name: 'product-detail', query: { _id:_id, favorite:favoritePro } }">
    <img width="100%" :src="image[0]">
    <v-card-title class="pt-1">
        <div>
            <div>{{ proName }}</div>
            <span class="font-weight-bold">₹ {{ price }} </span>
            <span class="text_under grey--text caption"> ₹ {{ actPrice }}</span>
            <span class="green--text"> {{ disc }}% OFF</span>
        </div>
    </v-card-title>
    </v-card>
</v-card>
</template>

<script>
export default {
    props: ['_id','image', 'price', 'proName', 'proDisc', 'disc', '', 'actPrice', 'idnum', 'favoritePro'],
    methods:{
        favorite(index){
            this.$emit('favorite', index)
        },
    }
}
</script>
