<template>
<v-card flat>
    <v-card flat :to="{ name: 'product-detail', query: { _id:_id, favorite:favoritePro } }">
    <img width="100%" :src="image">
    <v-card-title class="pt-1">
        <div>
            <div>{{ name }}</div>
            <span class="font-weight-bold">₹ {{ price }} </span>
        </div>
    </v-card-title>
    </v-card>
</v-card>
</template>

<script>
export default {
    props: ['_id','image', 'name', 'price', 'favoritePro'],
}
</script>
