<template>
<v-container class="pa-0" v-if="RecommendedCollections != ''">
    <div class="title_text font-weight-light layout column align-center">
        <span>Recommended Collections</span>
        <span class="primary outlineHeader"></span>
    </div>
    <v-container class="pa-0" fluid grid-list-sm>
        <v-layout row wrap>
            <v-flex v-for="(image, i) in RecommendedCollections" :key="i" xs6>
                <v-card flat :to="{name: 'filter', query: { productname: image.productName } }">
                    <img width="100%" :src="image.productCoverImage" />
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-container>
</template>

<script>
export default {
    props: ['RecommendedCollections']
}
</script>
