<template>
<v-card flat class="radius-min">
    <v-btn @click.native="deleteImages(idnum)" icon color="white" class="icon_right">
        <v-icon>close</v-icon>
    </v-btn>
    <v-card flat class="radius-min" :to="{ name: 'product-detail', query: { _id:_id, favorite:favorite } }">
    <v-card-title class="pa-0">
        <img width="100%" :src="image">
        <div class="mt-1">
            <div>{{ proName }}</div>
            <span class="font-weight-bold">₹ {{ actPrice }} </span>
            <span class="text_under grey--text caption"> ₹ {{ price }}</span>
            <span class="green--text"> {{ descount }}% OFF</span>
        </div>
    </v-card-title>
    </v-card>
    <v-card-title v-show="show" class="pa-0">
            <v-select @change="setSize(idnum)" v-model="size" :items="sizes" label="Size"></v-select>
    </v-card-title>
    <v-card-title v-show="!show" class="pa-0">
            <v-btn block color="primary" @click.native="moveTobag" class="mt-2 ma-0">
                Move To bag
            </v-btn>
    </v-card-title>
</v-card>
</template>
 
<script>
export default {
    props: ['image', 'price', 'idnum', 'proName', 'actPrice', 'descount', '_id', 'favorite', 'sizes'],
    data() {
        return {
            show: false,
            size: '',
            loading: false
        }
    },
    methods:{
        moveTobag(){
            if(this.size == ''){
                this.show = true
            }
        },
        setSize(index){
            if(this.size != ''){
                this.$emit('moveInBag', index, this.size)
            }
        },
        deleteImages(index){
            this.$emit('deleteImage', index)
        }
    }
}
</script>
