<template>
<v-container>
    <v-card class="radius-min pa-4">
        <v-toolbar flat color="white">
            <v-toolbar-title>Components</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-data-table :headers="headers" :items="desserts" hide-actions>
            <template v-slot:items="props">
                <td>
                    {{props.item.CompoCateName}}
                </td>
            </template>
        </v-data-table>
    </v-card>
</v-container>
</template>

<script>
import getdata from '../../../http/componentCategories'
export default {
    data: () => ({
        switch1: true,
        dialog: false,
        snack: false,
        snackColor: '',
        snackText: '',
        max25chars: v => v.length <= 25 || 'Input too long!',
        pagination: {},
        headers: [{
                text: 'Component Name',
                align: 'left',
                sortable: false,
                value: 'name'
            },
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            CompoCateName: ''
        }
    }),

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.initialize()
    },

    methods: {
        async initialize() {
            try {
                var data = await getdata.getcomponent();
                this.desserts = data.data.data
            } catch (err) {
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            }
        },

        save1() {
            this.snack = true
            this.snackColor = 'success'
            this.snackText = 'Data saved'
        },
        cancel() {
            this.snack = true
            this.snackColor = 'error'
            this.snackText = 'Canceled'
        },
        close1() {
            console.log('Dialog closed')
        },
        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        close() {
            this.dialog = false
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },

        async save() {
            if (this.editedIndex > -1) {
                Object.assign(this.desserts[this.editedIndex], this.editedItem)
            } else {
                this.desserts.push(this.editedItem)
            }
            this.close()
        }
    }
}
</script>
