<template>
<v-container>
    <v-toolbar flat color="white">
        <v-toolbar-title>Product Category</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-dialog v-model="dialog" max-width="500px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">Add Category</v-btn>
            </template>
            <v-card class="pa-3">
                <v-card-title>
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-form ref="form1" v-model="valid" :lazy-validation="lazy">
                            <v-layout wrap>
                                <v-flex xs12>
                                    <v-text-field v-model="editedItem.productCateName" :rules="nameRules" label="Category"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-form>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="close">Cancel</v-btn>
                    <v-btn color="primary" @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar>
    <v-data-table :headers="headers" :items="desserts" class="elevation-1">
        <template v-slot:items="props">
            <td>{{ props.item.productCateName }}</td>
            <td class="justify-center layout px-0">
                <v-btn flat icon @click="editItem(props.item)">
                    <v-icon small>
                        edit
                    </v-icon>
                </v-btn>
                <v-btn flat icon @click="deleteItem(props.item)">
                    <v-icon small>
                        delete
                    </v-icon>
                </v-btn>
            </td>
        </template>
        <template v-slot:no-data>
            <v-btn color="primary" @click="initialize">Reset</v-btn>
        </template>
    </v-data-table>
</v-container>
</template>

<script>
import getdata from '../../../http/productCat'
export default {
    data: () => ({
        valid: true,
        lazy: false,
        nameRules: [
            v => !!v || 'field is required',
        ],
        dialog: false,
        headers: [{
                text: 'Cotegory Name',
                align: 'left',
                sortable: false,
                value: 'name'
            },
            {
                text: 'Actions',
                value: 'name',
                align: 'center',
                sortable: false
            }
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            productCateName: ''
        },
        defaultItem: {
            productCateName: ''
        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.initialize()
    },

    methods: {
        async initialize() {
            await getdata.getProductCat()
                .then(res => {
                    this.desserts = res.data.data
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },
        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        async deleteItem(item) {
            const index = this.desserts.indexOf(item)
            var r = confirm('Are you sure you want to delete this item?')
            if (r == true) {
                this.desserts.splice(index, 1)
                await getdata.deleteProductCat(item._id)
                    .then(res => {
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                return false
            }
            // this.desserts.splice(index, 1)
        },

        close() {
            this.dialog = false
            this.$refs.form1.resetValidation()
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },

        async save() {
            if (this.$refs.form1.validate()) {
                if (this.editedIndex > -1) {
                    Object.assign(this.desserts[this.editedIndex], this.editedItem)
                } else {
                    // console.log(this.editedItem)
                    await getdata.insertPost(this.editedItem)
                        .then(res => {
                            this.$toast(res.data.message, {
                                color: 'green',
                                dismissable: true
                            })
                            this.desserts.push(this.editedItem)
                        })
                        .catch(err => {
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                }
                this.close()
            }
        }
    }
}
</script>
