<template>
<v-container class="pa-0">
    <v-toolbar flat color="white">
        <v-toolbar-title>Users</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" @keyup="searchUser" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>
    <v-data-table :headers="headers" hide-actions :items="desserts">
        <template v-slot:items="props">
            <td>{{ props.item.userDetails.firstName }} {{ props.item.userDetails.lastName }}</td>
            <td>{{ props.item.userDetails.gender }}</td>
            <td>{{ props.item.privateDetails.phoneNumber }}</td>
            <td>{{ props.item.privateDetails.email }}</td>
            <td>
                <v-btn icon>
                    <v-icon small @click="deleteUsers(props.item)">delete</v-icon>
                </v-btn>
            </td>
        </template>
    </v-data-table>
</v-container>
</template>

<script>
import users from '../../../http/subscribe'
import deleteUser from '../../../http/postLogin'
export default {
    data() {
        return {
            search: '',
            pagination: {},
            items: ['Customer Order', 'Factory Send Out', 'Deliver To Customer', 'Customer Received'],
            headers: [{
                    text: 'User Name',
                    align: 'left',
                    sortable: false,
                    value: 'userDetails.firstName'
                },
                {
                    text: 'Gender',
                    value: 'userDetails.gender'
                },
                {
                    text: 'Mobile',
                    value: 'userDetails.phoneNumber'
                },
                {
                    text: 'Email',
                    value: 'userDetails.email'
                },
                {
                    text: 'Action',
                    value: 'action'
                },
            ],
            count: 0,
            desserts: []
        }
    },
    created(){
        this.users()
    },
    methods:{
        async searchUser(){
            if(this.search == ''){
                this.count = 0
                this.users
            }else{
                await users.searchUsers(this.count, this.search, this.search, this.search)
                .then(res=>{
                    this.desserts = res.data.data
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }  

        },
        async deleteUsers(item){
            const index = this.desserts.indexOf(item)
            let r = confirm('Are you sure you want to delete this user')
            if (r) {
                await deleteUser.deleteUser(item._id)
                .then(res=>{
                    this.desserts.splice(index, 1)
                    this.$toast(res.data.message, {
                        color: 'green',
                        dismissable: true
                    }) 
                }) 
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })    
            }else{
                return false
            }
        },
        async users(){
            await users.users()
            .then(res=>{
                this.desserts = res.data.data
            }) 
            .catch(err=>{
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            }) 
        }
    }
}
</script>
