<template>
<v-container class="pa-0">
    <v-toolbar flat color="white">
        <v-toolbar-title>Subscribed Users</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
    </v-toolbar>
    <v-data-table :search="search" :headers="headers" hide-actions :items="desserts">
        <template v-slot:items="props">
            <td>{{ props.item.email }}</td>
            <td>{{ props.item.status }}</td>
            <td>
                <v-btn icon @click="deleteItem(props.item)">
                    <v-icon small>delete</v-icon>
                </v-btn>
            </td>
        </template>
    </v-data-table>
    <v-card-actions class="border-min">
        <v-spacer></v-spacer>
        <v-btn icon @click="moreData">
            <v-icon>chevron_right</v-icon>
        </v-btn>
    </v-card-actions>
</v-container>
</template>

<script>
import users from '../../../http/subscribe'
export default {
    data() {
        return {
            count: 0,
            search: '',
            pagination: {},
            items: ['Customer Order', 'Factory Send Out', 'Deliver To Customer', 'Customer Received'],
            headers: [{
                    text: 'Email',
                    align: 'left',
                    sortable: false,
                    value: 'email'
                },
                {
                    text: 'status',
                    value: 'status'
                },
                {
                    text: 'Action',
                    value: 'action'
                }
            ],
            desserts: []
        }
    },
    created(){
        this.users()
    },
    methods:{
        async moreData(){
            this.count = this.count + 1
            await users.subscribers(this.count)
            .then(res=>{
                res.data.data.map(value=>{
                    this.desserts.push(value)
                })
            }) 
        },
        async users(){
            await users.subscribers(this.count)
            .then(res=>{
                this.desserts = res.data.data
            }) 
        },
        async deleteItem(item){
            const index = this.desserts.indexOf(item)
            var r = confirm('Are you sure you want to delete this item?')
            if (r == true) {
                await users.deleteSubs(item._id)
                .then(res=>{
                    this.desserts.splice(index, 1)
                    this.$toast(res.data.message, {
                        color: 'green',
                        dismissable: true
                    })
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })   
            }
        }
    }
}
</script>
