<template>
<div class="text-xs-center">
    <v-menu v-model="menu" :nudge-width="180" offset-y>
        <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
                <v-icon>person</v-icon>
            </v-btn>
        </template>

        <v-card>
            <v-list>
                <v-list-tile avatar>
                    <v-list-tile-avatar>
                        <v-avatar size="40" color="primary">
                            <span class="white--text headline">{{alpha}}</span>
                        </v-avatar>
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{profileName}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>

            <v-divider></v-divider>

            <v-list dense class="pt-0">
                <v-list-tile v-for="item in lists" :key="item.title" :to="item.path">
                    <v-list-tile-action>
                        <v-icon class="grey--text text--darken-1">{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title class="grey--text text--darken-1">{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile @click="logout">
                    <v-list-tile-action>
                        <v-icon class="grey--text text--darken-1">input</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title class="grey--text text--darken-1">LogOut</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-card>
    </v-menu>
</div>
</template>

<script>
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    props:['lists'],
    data(){
        return {
            alpha: '',
            profileName: '',
            menu: false,
            message: false,
            hints: true
        }
    },
    mounted(){
        this.$root.$on('accountItemList', ()=>{
            this.accountDetails()
        })
        this.$root.$on('logoutAdmin', ()=>{
            this.logout()
        })
        this.accountDetails()
    }, 
    methods: {
        logout(){
            this.$root.$emit('logout')
            localStorage.removeItem('token')
            this.$router.push('/')
            this.$root.$emit('isAdmin')
            this.$root.$emit('checkStorageData')
            this.$root.$emit('initializeToken')
        },
        accountDetails () {
            const accountDetails = localStorage.getItem('token')
            if (accountDetails) {
                const verifyUserData = this.$jwt.decode(accountDetails, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                if (verifyUserData.role == 'Admin') {
                    this.$root.$emit('isAdmin')
                    this.alpha = verifyUserData.userDetails.firstName[0]
                    this.profileName = verifyUserData.userDetails.firstName +' '+ verifyUserData.userDetails.lastName 
                }else{
                    this.$root.$emit('isUser')
                    this.alpha = verifyUserData.userDetails.firstName[0]
                    this.profileName = verifyUserData.userDetails.firstName +' '+ verifyUserData.userDetails.lastName 
                }
            }
        }
    },
}
</script>
