<template>
<div>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap justify-center>
            <v-flex xs6 md2>
                <v-card class="radius-min pa-4">
                    <v-card-text class="pa-0 display-3 grey--text">
                        {{products}}
                    </v-card-text>
                    <v-card-text class="pa-0 headline grey--text">
                        Products
                    </v-card-text>
                </v-card>
            </v-flex>
            <v-flex xs6 md2>
                <v-card class="radius-min pa-4">
                    <v-card-text class="pa-0 display-3 grey--text">
                        {{counts}}
                    </v-card-text>
                    <v-card-text class="pa-0 headline grey--text">
                        Orders
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container>
        <v-card class="radius-min pa-1">
            <ProductDetaile />
        </v-card>
    </v-container>
</div>
</template>

<script>
import ProductDetaile from '../../../components/DeshboradTable/Product'
import products from '../../../http/uploadImage'
export default {
    components: {
        ProductDetaile
    },
    data (){
        return {
            products: '',
            counts: ''
        }
    },
    created(){
        this.productLength()
    },
    methods: {
        async productLength(){
            await products.productLength()
            .then(res=>{
                this.products = res.data.products
                this.counts = res.data.order
            })
        }
    }
}
</script>
