<template>
<v-container>
    <v-toolbar color="white" flat>
        <span class="title">My Addresses</span>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark small flat class="mb-2" v-on="on">Add New Address</v-btn>
            </template>
            <v-card>
                <v-card-title class="pb-0">
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text class="pt-0">
                    <v-container grid-list-md>
                        <span class="title">Delivery Info</span>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="editedItem.RecieverName" label="Reciever's Name"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.PhoneNumber" mask="phone" label="Phone Number"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.AlternateNo" mask="phone" label="Alternate No. (Optional)"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-container class="pt-0" grid-list-md>
                        <span class="title">Address</span>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="editedItem.PinCode" label="PinCode"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.Address" label="Address"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.Locality" label="Locality"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="editedItem.Landmark" label="Landmark (Optional)"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.City" label="City"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.State" label="State"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.Country" label="Country"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <p class="grey--text">This is my</p>
                                <v-radio-group v-model="editedItem.ThisIsMy" :mandatory="false" row>
                                    <v-radio color="primary" label="Home" value="home"></v-radio>
                                    <v-radio color="primary" label="Office" value="office"></v-radio>
                                    <v-radio color="primary" label="Other" value="other"></v-radio>
                                </v-radio-group>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="close">Cancel</v-btn>
                    <v-btn color="primary" @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar>
    <v-container class="pa-4" fluid grid-list-md>
        <v-layout v-if="desserts != ''" row wrap>
            <v-flex xs12 md4 d-flex v-for="(value, i) in desserts" :key="i">
                <div class="choices-group">
                    <input v-model="address" @change="changes(value)" :id="`choice${i}`" type="radio" name="choice" :value="i">
                    <label :for="`choice${i}`">
                        <v-chip color="primary" text-color="white" class="thisIsMy text-capitalize" label>{{ value.ThisIsMy }}</v-chip>
                        <v-card-title>
                            <div>
                                <span class="font-weight-bold title">{{ value.RecieverName }}</span><br><br>
                                <span class="grey--text">{{ value.Address }}</span><br><br>
                                <span class="grey--text">{{ value.PinCode }}</span><br>
                                <span class="grey--text">Contact Number: {{ value.PhoneNumber }}</span>
                            </div>
                        </v-card-title>
                    </label>
                </div>
            </v-flex>
        </v-layout>
        <v-layout v-else row wrap>
            <v-flex xs12>
                <v-container class="layout column align-center justify-center">
                    <img width="15%" src="https://images.bewakoof.com/web/empty-account-1530180452.png">
                    <p class="title mt-3 grey--text">Please add your address</p>
                </v-container>
            </v-flex>
        </v-layout>
    </v-container>
</v-container>
</template>

<script>
import addressPage from '../../http/userAddress'
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    data: () => ({
        address: '',
        radios: '',
        dialog: false,
        headers: [{
                text: 'Dessert (100g serving)',
                align: 'left',
                sortable: false,
                value: 'name'
            },
            {
                text: 'Calories',
                value: 'calories'
            },
            {
                text: 'Fat (g)',
                value: 'fat'
            },
            {
                text: 'Carbs (g)',
                value: 'carbs'
            },
            {
                text: 'Protein (g)',
                value: 'protein'
            },
            {
                text: 'Actions',
                value: 'name',
                sortable: false
            }
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            RecieverName: '',
            PhoneNumber: '',
            AlternateNo: '',
            PinCode: '',
            Address: '',
            Locality: '',
            Landmark: '',
            City: '',
            State: '',
            Country: '',
            ThisIsMy: ''
        },
        defaultItem: {
            RecieverName: 'Shakruddin',
            PhoneNumber: '8527116936',
            AlternateNo: '8130968451',
            PinCode: '110095',
            Address: '624 Nav Jeevan Samity',
            Locality: 'Tahipur',
            Landmark: 'park',
            City: 'Delhi',
            State: 'Delhi',
            Country: 'India',
            ThisIsMy: 'home'
        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Address' : 'Edit Address'
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.initialize()
    },

    methods: {
        changes(index) {
            this.$emit('disable', index)
        },
        async initialize() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await addressPage.getAddress(verifyUserData._id)
                    .then(res => {
                        this.desserts = res.data.data
                    })
                    .catch(err => {
                        console.log(err)
                    })
            } else {
                console.log('no token found')
            }
        },

        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        async deleteItem(item) {
            const index = this.desserts.indexOf(item)
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                const confirmation = confirm('Are you sure you want to delete this item?')
                if (confirmation == true) {
                    addressPage.deleteAddress(verifyUserData._id, item._id)
                        .then(res => {
                            this.desserts.splice(index, 1)
                            console.log(res)
                        })
                }
            }
        },

        close() {
            this.dialog = false
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        },

        async save() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                if (this.editedIndex > -1) {
                    console.log(verifyUserData._id)

                    await addressPage.updateAddress(this.editedItem, verifyUserData._id, this.editedItem._id)
                        .then(res => {
                            this.initialize()
                            console.log(res)
                        })
                        .catch(err => {
                            console.log(err)
                        })
                } else {
                    await addressPage.addAddress(this.editedItem, verifyUserData._id)
                        .then(res => {
                            console.log(res)
                            this.initialize()
                            this.desserts.push(this.editedItem)
                        })
                        .catch(err => {
                            console.log(err)
                        })
                }
            } else {
                console.log('no token found')
            }
            this.close()
        }
    }
}
</script>

<style>
.choices-group {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.choices-group input[type=radio] {
    display: none;
    appearance: none;
}

.choices-group input[type=radio]:checked+label {
    border: 1px solid #FF9800;
}

.choices-group input[type=radio]:active+label {
    transform: scale(0.9) rotate(4deg);
}

.choices-group label {
    width: 100%;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.1s;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #EFEFEF;
}
</style>
