<template>
<v-tabs centered icons-and-text>
    <v-tabs-slider color="grey"></v-tabs-slider>

    <v-tab class="text-capitalize" href="#tab-1">
        Credit/Debit Card
        <v-icon>credit_card</v-icon>
    </v-tab>

    <v-tab class="text-capitalize" href="#tab-2">
        Cash On Delivary
        <v-icon>local_shipping</v-icon>
    </v-tab>

    <v-tab-item class="pa-0" value="tab-1">
        <v-card flat>
            <v-container class="pa-0 pt-4" fluid grid-list-md>
                <v-layout row justify-center>
                    <v-flex xs12 md5>
                        <v-card flat class="border-min pa-4">
                            <v-layout row wrap>
                                <div class="layout justify-space-between subheading font-weight-light mb-2 pa-3">
                                    <span>Final Amount</span>
                                    <span>₹ {{ totalProductPrice }}</span>
                                </div>
                                <v-flex xs12 class="grey--text">
                                    This transaction you make is totally secure. We don't save your CVV number.
                                </v-flex>
                                <v-flex xs12 class="grey--text">
                                    <v-btn large block onclick="myFunction()" color="primary">
                                        Confirm order
                                    </v-btn>
                                </v-flex>

                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-tab-item>
    <v-tab-item class="pa-0" value="tab-2">
        <v-card flat>
            <v-container fluid grid-list-xl>
                <v-layout row justify-center>
                    <v-flex xs12 md6>
                        <v-card flat class="border-min pa-4">
                            <span class="title">Cash On Delivery</span><br><br><br>

                            <div class="layout justify-space-between subheading font-weight-light mb-2 pa-3">
                                <span>Final Amount</span>
                                <span>₹ {{ totalProductPrice }}</span>
                            </div>
                            <v-divider class="my-3"></v-divider>
                            <div class="layout justify-space-between subheading font-weight-bold mb-4 pa-3 pb-0">
                                <span>Total Payable Amount</span>
                                <span id='totalProductPrice'>{{ totalProductPrice }}</span>
                            </div>
                            <v-btn large block color="primary" @click="confirmOrder">
                                Confirm order
                            </v-btn>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-tab-item>
</v-tabs>
</template>

<script>

export default {
    props: ['totalProductPrice', 'totalProductActual'],
    methods:{
        confirmOrder(){
            this.$emit('confirmOrder')
        }
    }
}
</script>

