<template>
<v-container>
    <v-btn flat class="mb-4 ml-0" @click="$router.go(-1)">
        <span><v-icon>keyboard_arrow_left</v-icon></span>
        Go Back
    </v-btn>
    <v-layout>
        <v-flex xs12 md6>
            <Alert :alert="alert" :color="color" :icon="icon" :text="text" />
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-container grid-list-lg>
                    <v-layout row wrap class="px-4">
                        <v-flex xs12 md12 class="mt-4">
                            <span class="headline">My Profile</span>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field v-model="userData.firstName" :rules="nameRules" label="First Name" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field v-model="userData.lastName" :rules="nameRules" label="Last Name" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-text-field v-model="email" :disabled='disabled' :rules="emailRules" label="Email Id" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field type="password" :disabled='disabled' label="******" required></v-text-field>
                            <ChangePassword /><br>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field v-model="phoneNumber" :disabled='disabled' :rules="nameRules" label="Phone Number" required></v-text-field>
                            <ChangeNumber :phoneNumber="phoneNumber" />
                        </v-flex>
                        <v-flex xs12 md12>
                            <p><span class="title">Gender</span> : {{ userData.gender || 'null' }}</p>
                            <v-radio-group v-model="userData.gender" :mandatory="false">
                                <v-radio label="Male" value="Male"></v-radio>
                                <v-radio label="Famale" value="Female"></v-radio>
                            </v-radio-group>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-btn large class="ml-0" :disabled="!valid" color="primary" :loading="loading" @click="validate">
                                save changes
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-form>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>
import ChangeNumber from '../../../components/ProfilePops/changeNumber'
import ChangePassword from '../../../components/ProfilePops/changePassword'
import Alert from '../../../components/Snackbar/AlertMessage'
import editUserData from '../../../http/updateProfileData'
export default {
    components:{
        Alert,
        ChangePassword,
        ChangeNumber
    },
    data: () => ({
        alert: false,
        color: '',
        icon: '',
        text: '',
        loading: false,
        disabled: true,
        userData: {},
        phoneNumber: '',
        valid: true,
        name: '',
        nameRules: [
            v => !!v || 'field is required',
            v => (v && v.length <= 25) || 'Name must be less than 25 characters'
        ],
        email: '',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
    }),
    mounted() {
        this.accountDetails()
        this.$root.$on('pullingToken', ()=>{
            this.accountDetails()
        })
    },
    methods: {
        validate() {
            if (this.$refs.form.validate()) {
                this.editUserData()
            }
        },
        accountDetails () {
            const accountDetails = localStorage.getItem('token')
            if (accountDetails) {
                const verifyUserData = this.$jwt.decode(accountDetails, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                this.email = verifyUserData.privateDetails.email
                this.phoneNumber = verifyUserData.privateDetails.phoneNumber
                this.userData = verifyUserData.userDetails
            }else{
                console.log('no token found')
            }
        },
        async editUserData () {
            this.loading = true
            const accountDetails = localStorage.getItem('token')
            const verifyUserData = this.$jwt.decode(accountDetails, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
            await editUserData.insertPost(this.userData, verifyUserData._id)
            .then(res=>{
                if (res) {
                    if (res.data.status == 'success') {
                        localStorage.setItem('token', res.data.token)
                        this.loading = false
                        this.alert = true
                        this.color = res.data.status
                        this.icon = 'check_circle'
                        this.text = res.data.message
                        this.$root.$emit('accountItemList')
                    }else{
                        this.alert = true
                        this.color = res.data.status
                        this.icon = 'warning'
                        this.text = res.data.message
                    }
                }else{
                    this.alert = true
                    this.color = "error"
                    this.icon = 'warning'
                    this.text = 'Something Went Wrong'
                }
            })
            .catch(err=>{
                this.loading = false
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        }
    }
}
</script>
