<template>
<div>
    <v-list three-line subheader>
        <v-subheader>Admin Controls</v-subheader>
        <v-dialog v-model="dialog2" persistent max-width="400px">
            <template v-slot:activator="{ on }">
                <!-- <v-btn small color="primary" flat class="ma-0" >change password</v-btn> -->
                <v-list-tile avatar v-on="on">
                    <v-list-tile-content>
                        <v-list-tile-title>Change Password</v-list-tile-title>
                        <v-list-tile-sub-title>update password to restrict admin</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
            <v-card class="pa-3">
                <v-card-title class="pb-0">
                    <span class="headline">Change Password</span>
                </v-card-title>
                <v-card-text>
                    <v-container class="pa-0" grid-list-md>
                        <v-form ref="form" v-model="valid" lazy-validation>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field :rules="nameRules" label="Old Password" v-model="OldPassword" :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field :rules="nameRules" label="New Password" v-model="NewPassword" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field :rules="nameRules" label="Confirm Password" v-model="ConfirmPassword" :append-icon="show3 ? 'visibility' : 'visibility_off'" :type="show3 ? 'text' : 'password'" @click:append="show3 = !show3"></v-text-field>
                            </v-flex>
                        </v-layout>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="dialog2 = false">Close</v-btn>
                    <v-btn color="primary" @click="changePasswore">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="dialog3" persistent max-width="400px">
            <template v-slot:activator="{ on }">
                <!-- <v-btn small color="primary" flat class="ma-0" >change password</v-btn> -->
                <v-list-tile avatar v-on="on">
                    <v-list-tile-content>
                        <v-list-tile-title>Make Sub-Admin</v-list-tile-title>
                        <v-list-tile-sub-title>Add more sub admin mange product and users</v-list-tile-sub-title>
                    </v-list-tile-content>
                </v-list-tile>
            </template>
            <v-card class="pa-3">
                <v-card-title class="pb-0">
                    <span class="headline">Make Admin</span>
                </v-card-title>
                <v-card-text>
                    <v-container class="pa-0" grid-list-md>
                        <v-form ref="form" v-model="valid" lazy-validation>
                        <v-layout row wrap class="px-2">
                        <v-flex xs12 md6>
                            <v-text-field :rules="nameRules" v-on:keyup.enter="createAdmin" v-model="newUser.firstName" label="First Name" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field :rules="nameRules" v-on:keyup.enter="createAdmin" label="Last Name" v-model="newUser.lastName" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-text-field :rules="nameRules" mask="phone" v-on:keyup.enter="createAdmin" label="Mobile" v-model="newUser.phoneNumber" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-text-field :rules="emailRules" v-on:keyup.enter="createAdmin" label="Email Id" v-model="newUser.email" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field :rules="nameRules" label="New Password" v-model="newUser.password" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-radio-group :rules="nameRules" v-on:keyup.enter="createAdmin" row v-model="newUser.gender">
                                <v-radio label="Male" value="Male"></v-radio>
                                <v-radio label="Female" value="Female"></v-radio>
                            </v-radio-group>
                        </v-flex>
                    </v-layout>
                        </v-form>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="dialog3 = false">Close</v-btn>
                    <v-btn color="primary" @click="createAdmin">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-list>
</div>
</template>

<script>
import changePassword from '../../../http/updateProfileData'
import admin from '../../../http/postLogin'
export default {
    data() {
        return {
            nameRules: [
                v => !!v || 'This is required',
                v => v.length <= 50 || 'Name must be less than 10 characters'
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
            newUser: {
                firstName: '',
                lastName: '',
                email: '',
                phoneNumber: '',
                password: '',
                gender: ''
            },
            e6: 1,
            valid: true,
            dialog1: false,
            dialog2: false,
            dialog3: false,
            show1: false,
            show2: false,
            show3: false,
            NewPassword: '',
            OldPassword: '',
            ConfirmPassword: '',
            OldNumber: '',
            NewNumber: ''
        }
    },
    methods:{
        async createAdmin(){
            if (this.$refs.form.validate()) {
                await admin.createAdmin(this.newUser)
                .then(res=>{
                     if (res.data.status == 'error') {
                         this.$toast(res.data.message, {
                            color: 'red',
                            dismissable: true
                        })
                     }else{
                         this.dialog3 = false
                         this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                     }
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
        async changePasswore(){
            if (this.$refs.form.validate()) {
                if (this.NewPassword == this.ConfirmPassword) {
                const token = localStorage.getItem('token')
                    if (token) {
                        const data = {
                            currentPassword: this.OldPassword,
                            password: this.NewPassword
                        }
                        const verifyUserData = this.$jwt.decode(token, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                        await changePassword.updatePassword(data, verifyUserData._id, verifyUserData.privateDetails.phoneNumber)
                        .then(res=>{
                            if (res.data.status == 'error') {
                                this.$toast(res.data.message, {
                                    color: 'red',
                                    dismissable: true
                                })   
                            }else{
                                this.dialog2 = false
                                this.$root.$emit('logoutAdmin')
                                this.$toast(res.data.message, {
                                    color: 'green',
                                    dismissable: true
                                })
                            }
                        })
                        .catch(err=>{
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                    }
                }else{
                    this.$toast('confirm password not match', {
                        color: 'red',
                        dismissable: true
                    })
                }
            }
        }
    }
}
</script>
