<template>
<v-layout>
    <v-dialog v-model="dialog" persistent max-width="400px">
        <template v-slot:activator="{ on }">
            <v-btn small color="primary" flat class="ma-0" v-on="on">change Number</v-btn>
        </template>
        <v-card class="pa-0">
            <v-card-text class="pa-0">
                <v-container class="pa-0 pt-2" grid-list-md>
                    <Alert class="mx-2" :alert="alert" :color="color" :icon="icon" :text="text" />
                    <v-stepper v-model="e6" vertical>
                        <v-stepper-step :complete="e6 > 1" step="1">
                            Change Number
                        </v-stepper-step>

                        <v-stepper-content step="1">
                            <v-form ref="form" v-model="valid" lazy-validation>
                                <v-layout wrap>
                                    <v-flex xs12>
                                        <v-text-field mask="phone" label="Old Number" :disabled="true" v-model="phoneNumber"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field mask="phone" @keyup.enter="getOtp" :rules="numRules" label="New Number" v-model="NewNumber"></v-text-field>
                                    </v-flex>
                                    <v-flex xs12>
                                        <v-text-field type="password" @keyup.enter="getOtp" :rules="passwordRules" label="Password" v-model="password"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                            <v-btn color="primary" :loading="loading" @click="getOtp">Send OTP</v-btn>
                            <v-btn flat @click="cancel">Cancel</v-btn>
                        </v-stepper-content>

                        <v-stepper-step :complete="e6 > 2" step="2">
                            Enter OTP
                            <small>{{message }} {{ phoneNumber}}</small>
                        </v-stepper-step>
                        <v-stepper-content step="2">
                            <v-form ref="form1" v-model="valid1" lazy-validation>
                                <v-layout wrap>
                                    <v-flex xs12>
                                        <v-text-field type="number" v-on:keyup.enter="verifyPhone" :rules="otpRules" label="OTP" v-model="OTP"></v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-form>
                            <v-btn color="primary" :loading="loading" @click="verifyPhone">Continue</v-btn>
                            <v-btn flat @click="cancel">Cancel</v-btn>
                        </v-stepper-content>

                    </v-stepper>
                </v-container>
            </v-card-text>
        </v-card>
    </v-dialog>
</v-layout>
</template>

<script>
import Vue from 'vue'
import getOtp from '../../http/userAddress'
import Alert from '../Snackbar/AlertMessage'
import VueCookie from 'vue-cookie'
Vue.use(VueCookie)
export default {
    props: ['phoneNumber'],
    valid: true,
    components: {
        Alert
    },
    data() {
        return {
            loading: false,
            valid: true,
            valid1: true,
            otpRules: [
                v => !!v || 'OTP is required',
                v => (v && v.length <= 5) || 'OTP must be less than 5 characters'
            ],
            numRules: [
                v => !!v || 'Number is required',
                v => (v && v.length == 10) || 'Number must be less than 10 characters'
            ],
            passwordRules: [
                v => !!v || 'Password is required'
            ],
            message: '',
            alert: '',
            color: '',
            icon: '',
            text: '',
            e6: 1,
            dialog: false,
            show1: false,
            show2: false,
            show3: false,
            NewNumber: '',
            OTP: '',
            password: ''
        }
    },
    methods: {
        async getOtp() {
            if (this.$refs.form.validate()) {
                this.loading = true
                const token = localStorage.getItem('token')
                if (token) {
                    const newNum = {
                        username: this.phoneNumber,
                        password: this.password,
                        newNumber: this.NewNumber
                    }
                    const verifyUserData = this.$jwt.decode(token, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                    await getOtp.getOTP(newNum, verifyUserData._id)
                        .then(res => {
                            if (res.data.status == 'error') {
                                this.alert = true
                                this.color = 'error',
                                this.icon = 'warning'
                                this.text = res.data.message
                                this.loading = false
                            } else {
                                this.alert = false
                                this.e6 = 2
                                this.message = res.data.message
                                this.loading = false
                            }
                        })
                        .catch(err=>{
                            this.loading = false
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                } else {
                    this.$root.$emit('compo')
                }
            }
        },
        async verifyPhone() {
            if (this.$refs.form1.validate()) {
                this.loading = true
                const token = localStorage.getItem('token')
                const newNUmber = {
                    phoneNumber: this.NewNumber,
                    otp: this.OTP
                }
                if (token) {
                    const verifyUserData = this.$jwt.decode(token, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                    await getOtp.verifyPhoneNumber(newNUmber, verifyUserData._id)
                        .then(res => {
                            if (res.data.message == 'Wrong OTP') {
                                this.alert = true
                                this.color = 'error',
                                this.icon = 'warning'
                                this.text = res.data.message
                                this.loading = false
                            } else {
                                localStorage.setItem('token', res.data.token)
                                this.$root.$emit('pullingToken')
                                this.cancel()
                                this.$toast(res.data.message, {
                                    color: 'green',
                                    dismissable: true
                                })
                            }
                        })
                        .catch(err=>{
                            this.loading = false
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                } else {
                    this.$root.$emit('compo')
                }
            }
        },
        cancel() {
            this.dialog = false
            this.e6 = 1
            this.loading = false
            // this.$refs.form.reset()
            this.$refs.form.resetValidation()
            this.alert = false
            this.password = null
            this.NewNumber = null
        }
    }
}
</script>
