<template>
<v-layout>
    <v-dialog v-model="dialog" persistent max-width="400px">
        <template v-slot:activator="{ on }">
            <v-btn small color="primary" flat class="ma-0" v-on="on">change password</v-btn>
        </template>
        <v-card class="pa-3">
            <v-card-title class="pb-0">
                <span class="headline">Change Password</span>
            </v-card-title>
            <v-card-text>
                <v-container class="pa-0" grid-list-md>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field :rules="nameRules" label="Old Password" v-model="OldPassword" :append-icon="show1 ? 'visibility' : 'visibility_off'" :type="show1 ? 'text' : 'password'" @click:append="show1 = !show1"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field :rules="nameRules" label="New Password" v-model="NewPassword" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field :rules="nameRules" label="Confirm Password" v-model="ConfirmPassword" :append-icon="show3 ? 'visibility' : 'visibility_off'" :type="show3 ? 'text' : 'password'" @click:append="show3 = !show3"></v-text-field>
                            </v-flex>
                        </v-layout>
                        </v-form>
                </v-container>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" flat @click="dialog = false">Close</v-btn>
                <v-btn color="primary" @click="changePasswore">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-layout>
</template>

<script>
import changePassword from '../../http/updateProfileData'
export default {
    data() {
        return {
            nameRules: [
                v => !!v || 'This Field is required',
                v => v.length <= 50 || 'Name must be less than 10 characters'
            ],
            valid: true,
            dialog: false,
            show1: false,
            show2: false,
            show3: false,
            OldPassword: '',
            NewPassword: '',
            ConfirmPassword: '',
        }
    },
    methods:{
        async changePasswore(){
            if (this.$refs.form.validate()) {
                if (this.NewPassword == this.ConfirmPassword) {
                const token = localStorage.getItem('token')
                    if (token) {
                        const data = {
                            currentPassword: this.OldPassword,
                            password: this.NewPassword
                        }
                        const verifyUserData = this.$jwt.decode(token, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                        await changePassword.updatePassword(data, verifyUserData._id, verifyUserData.privateDetails.phoneNumber)
                        .then(res=>{
                            if (res.data.status == 'error') {
                                this.$toast(res.data.message, {
                                    color: 'red',
                                    dismissable: true
                                })   
                            }else{
                                this.dialog2 = false
                                this.$root.$emit('logoutAdmin')
                                this.$toast(res.data.message, {
                                    color: 'green',
                                    dismissable: true
                                })
                            }
                        })
                        .catch(err=>{
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                    }
                }else{
                    this.$toast('confirm password not match', {
                        color: 'red',
                        dismissable: true
                    })
                }
            }
        }
    }
}
</script>
