<template>
<v-container>
    <v-btn flat class="mb-4 ml-0" @click="$router.go(-1)">
        <span><v-icon>keyboard_arrow_left</v-icon></span>
        Go Back
    </v-btn>
    <v-toolbar flat>
        <v-toolbar-title>My Addresses</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-dialog v-model="dialog" persistent max-width="600px">
            <template v-slot:activator="{ on }">
                <v-btn color="primary" dark class="mb-2" v-on="on">New Address</v-btn>
            </template>
            <v-card>
                <v-card-title class="pb-0">
                    <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text class="pt-0">
                    <v-container grid-list-md>
                        <span class="title">Delivery Info</span>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="editedItem.RecieverName" label="Reciever's Name"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.PhoneNumber" label="Phone Number"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.AlternateNo" label="Alternate No. (Optional)"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                    <v-container class="pt-0" grid-list-md>
                        <span class="title">Address</span>
                        <v-layout wrap>
                            <v-flex xs12>
                                <v-text-field v-model="editedItem.PinCode" label="PinCode"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.Address" label="Address"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.Locality" label="Locality"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                                <v-text-field v-model="editedItem.Landmark" label="Landmark (Optional)"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.City" label="City"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.State" label="State"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm6 md6>
                                <v-text-field v-model="editedItem.Country" label="Country"></v-text-field>
                            </v-flex>
                            <v-flex xs12 sm12 md12>
                                <p class="grey--text">This is my</p>
                                <v-radio-group v-model="editedItem.ThisIsMy" :mandatory="false" row>
                                    <v-radio color="primary" label="Home" value="home"></v-radio>
                                    <v-radio color="primary" label="Office" value="office"></v-radio>
                                    <v-radio color="primary" label="Other" value="other"></v-radio>
                                </v-radio-group>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="close">Cancel</v-btn>
                    <v-btn color="primary" @click="save">Save</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-toolbar>
    <v-container fluid grid-list-md>
        <v-layout row wrap>
            <v-flex xs6 md3 d-flex v-for="(value, i) in desserts" :key="i">
                <v-card class="radius-min">
                    <v-card-title>
                        <div>
                            <span class="font-weight-bold title">{{ value.RecieverName }}</span><br><br>
                            <span class="grey--text">{{ value.Address }}</span><br><br>
                            <span class="grey--text">{{ value.PinCode }}</span><br>
                            <span class="grey--text">Contact Number: {{ value.PhoneNumber }}</span>
                        </div>
                    </v-card-title>
                    <v-card-actions class="pt-0">
                        <v-spacer></v-spacer>
                        <v-btn flat icon @click="editItem(value)">
                            <v-icon>edit</v-icon>
                        </v-btn>
                        <v-divider class="mx-2" inset vertical></v-divider>
                        <v-btn flat icon color="primary" @click="deleteItem(value)">
                            <v-icon>delete</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</v-container>
</template>

<script>
import addressPage from '../../../http/userAddress'
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    data: () => ({
        radios: '',
        dialog: false,
        headers: [{
                text: 'Dessert (100g serving)',
                align: 'left',
                sortable: false,
                value: 'name'
            },
            {
                text: 'Calories',
                value: 'calories'
            },
            {
                text: 'Fat (g)',
                value: 'fat'
            },
            {
                text: 'Carbs (g)',
                value: 'carbs'
            },
            {
                text: 'Protein (g)',
                value: 'protein'
            },
            {
                text: 'Actions',
                value: 'name',
                sortable: false
            }
        ],
        desserts: [],
        editedIndex: -1,
        editedItem: {
            RecieverName: '',
            PhoneNumber: '',
            AlternateNo: '',
            PinCode: '',
            Address: '',
            Locality: '',
            Landmark: '',
            City: '',
            State: '',
            Country: '',
            ThisIsMy: ''
        },
        defaultItem: {
            RecieverName: '',
            PhoneNumber: '',
            AlternateNo: '',
            PinCode: '',
            Address: '',
            Locality: '',
            Landmark: '',
            City: '',
            State: '',
            Country: '',
            ThisIsMy: ''
        }
    }),

    computed: {
        formTitle() {
            return this.editedIndex === -1 ? 'New Address' : 'Edit Address'
        }
    },

    watch: {
        dialog(val) {
            val || this.close()
        }
    },

    created() {
        this.initialize()
    },

    methods: {
        async initialize() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                 const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                 await addressPage.getAddress(verifyUserData._id)
                .then(res=>{
                    this.desserts = res.data.data
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },

        editItem(item) {
            this.editedIndex = this.desserts.indexOf(item)
            this.editedItem = Object.assign({}, item)
            this.dialog = true
        },

        async deleteItem(item) {
            const index = this.desserts.indexOf(item)
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                const confirmation = confirm('Are you sure you want to delete this item?')
                if (confirmation == true) {
                    addressPage.deleteAddress(verifyUserData._id, item._id)
                    .then(res=>{
                        this.desserts.splice(index, 1)
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err=>{
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                }
            }
        },

        close() {
            this.dialog = false
            setTimeout(() => {
                this.editedItem = Object.assign({}, this.defaultItem)
                this.editedIndex = -1
            }, 300)
        }, 
 
        async save() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                if (this.editedIndex > -1) {                    
                    await addressPage.updateAddress(this.editedItem, verifyUserData._id, this.editedItem._id)
                    .then(res=>{
                        this.initialize()
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err=>{
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                }else{
                    await addressPage.addAddress(this.editedItem, verifyUserData._id)
                    .then(res=>{
                        console.log(res)
                        this.initialize()
                        this.desserts.push(this.editedItem)
                    })
                    .catch(err=>{
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                }
            }
            this.close()
        }
    }
}
</script>
