<template>
<div>
    <v-toolbar color="primary" dark flat fixed dense>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>

        <v-toolbar-title>
            <span class="font-weight-bold">Admin</span>
            <span class="font-weight-light"> Panel</span>
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <div>
            <AccountList :lists="lists" />
        </div>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" app temporary>
        <v-list class="pa-1">
            <v-list-tile avatar>
                <v-list-tile-avatar>
                    <img src="favicon.ico">
                </v-list-tile-avatar>

                <v-list-tile-content to="/">
                    <v-list-tile-title>Admin</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>

        <v-list class="pt-0" dense>
            <v-divider></v-divider>

            <v-list-tile v-for="item in items" :key="item.title" :to="item.path">
                <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</div>
</template>

<script>
import AccountList from "../AccountCombo/AccountCombo"
export default {
    components: {
        AccountList
    },
    data() {
        return {
            drawer: false,
            lists: [{
                title: 'Settings',
                icon: 'settings',
                path: '/settings'
            }],
            items: [{
                    title: 'Deshborad',
                    icon: 'dashboard',
                    path: '/deshborad'
                }, {
                    title: 'Component Category',
                    icon: 'view_module',
                    path: '/component-category'
                },
                {
                    title: 'Add size',
                    icon: 'insert_chart_outlined',
                    path: '/add-sizes'
                },
                {
                    title: 'Product Category',
                    icon: 'view_quilt',
                    path: '/product-categories'
                },
                {
                    title: 'Component',
                    icon: 'view_carousel',
                    path: '/component'
                },
                {
                    title: 'Add Product',
                    icon: 'vertical_split',
                    path: '/product'
                },
                {
                    title: 'Track Users',
                    icon: 'group',
                    path: '/track-users'
                },
                {
                    title: 'Track Subscribers',
                    icon: 'group_add',
                    path: '/track-subscribers'
                },
                {
                    title: 'Complete Orders',
                    icon: 'done',
                    path: '/complete-orders'
                },
            ]
        }
    },
}
</script>
