<template>
<v-card dark color="grey darken-4" height="auto">
    <v-card-text>
        <v-container grid-list-md>
            <v-layout row wrap justify-space-between>
                <v-flex xs12 md4>
                    <v-toolbar-title class="white--text">
                        <span class="headline border px-3">
                            <span class="font-weight-bold orange--text"> Shera</span>
                            <span class="font-weight-regular">Kart</span>
                        </span>
                    </v-toolbar-title>
                </v-flex>
                <v-flex xs12 md4>
                    <div class="layout justify-end">
                        <v-btn class=" ma-0 white--text" icon>
                            <a href="https://www.facebook.com/shera.kart.7" class="white--text">
                                <v-icon size="24px">fab fa-facebook</v-icon>
                            </a>
                        </v-btn>
                        <v-btn class=" ma-0 white--text" icon>
                            <a href="https://www.instagram.com/sherakart/" class="white--text">
                                <v-icon size="24px">fab fa-instagram</v-icon>
                            </a>
                        </v-btn>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card-text>
    <!-- <v-divider></v-divider> -->
    <div class="white--text pt-0 text-md-left">
        <v-container grid-list-md>
            <v-layout row wrap class="orange--text">
                <v-flex xs12 md4>
                    <div>
                        <p class="subheading">CUSTOMER SERVICE</p>
                        <ul class="footer_ul">
                            <li><router-link class="white--text" to="/contect-us">Contact Us</router-link></li>
                            <li><a class="white--text" @click="trackOrder">Track Order</a></li>
                        </ul>
                    </div>
                </v-flex>
                <v-flex xs12 md4>
                    <div>
                        <p class="subheading">COMPANY</p>
                        <ul class="footer_ul">
                            <li><a class="white--text" href="#">About Us</a></li>
                            <li><a class="white--text" @click="terms">Terms & Conditions</a></li>
                            <li><a class="white--text" @click="privacy">Privacy Policy</a></li>
                        </ul>
                    </div>
                </v-flex>
                <v-flex xs12 md4>
                    <v-card-actions>
                        <v-text-field v-model="email" :rules="emailRules" label="Your Email"></v-text-field>
                        <v-btn color="primary" flat @click="subscribeUser">SUBSCRIBE</v-btn>
                    </v-card-actions>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <v-divider></v-divider>

    <v-card-text class="white--text text-xs-center">
        &copy;2019 — <strong>BaseHippo</strong>
    </v-card-text>
</v-card>
</template>

<script>
import userScribe from '../../http/subscribe'
export default {
    data() {
        return {
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
        }
    },
    methods: {
        async subscribeUser() {
            const email = {
                email: this.email
            }
            await userScribe.userSubscribe(email)
                .then(res => {
                    if (res.data.status == 'error') {
                        this.email = ''
                        this.$toast(res.data.message, {
                            color: 'red',
                            dismissable: true
                        })
                    } else {
                        this.email = ''
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    }
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },
        terms() {
            this.$router.push('/terms')
        },
        privacy() {
            this.$router.push('/privacypolicy')
        },
        trackOrder() {
            const getToken = localStorage.getItem('token')
            if (getToken) {
                this.$router.push('/orderlist')
            } else {
                this.$root.$emit('dialog')
            }
        }
    }
}
</script>

<style>
.brand_footer_border {
    border: 1px solid #fff;
    padding: 0px 10px;
    border-radius: 50px;
}

ul.footer_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.footer_ul li a {
    text-decoration: none;
}

ul.footer_ul li a:hover {
    text-decoration: underline;
}
</style>
