<template>
<div>
    <v-toolbar dense fixed flat color="grey lighten-3">
        <v-toolbar-side-icon @click="drawer = !drawer" class="hidden-md-only hidden-lg-only hidden-xl-only" />
        <v-toolbar-title class="hidden-md-only hidden-lg-only hidden-xl-only ma-0" v-show="!show">
            <v-card flat class="grey lighten-3 mt-2" to="/">
                <img width="120" src="SheraKart.png" alt="Logo">
            </v-card>
        </v-toolbar-title>
        <v-toolbar-title class="hidden-xs-only hidden-sm-only">
            <v-list class="pa-0 grey lighten-3">
                <v-list-tile to="/">
                    <img width="160" src="SheraKart.png" alt="Logo">
                </v-list-tile>
            </v-list>
        </v-toolbar-title>
        <div class="dropdown hidden-xs-only hidden-sm-only">
            <v-btn class="font-weight-medium caption dropbtn grey--text" color="white" flat>Men</v-btn>
            <v-container class="dropdown-content">
                <v-layout row wrap>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Topwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Topwear" :key="i">
                                        <a @click="filterCat(item, 'Male')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Bottomwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Bottomwear" :key="i">
                                        <a @click="filterCat(item, 'Male')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Footwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Footwear" :key="i">
                                        <a @click="filterCat(item, 'Male')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        
        <!-- female -->
        <div class="dropdown hidden-xs-only hidden-sm-only">
            <v-btn class="font-weight-medium caption dropbtn grey--text" color="white" flat>Women</v-btn>
            <v-container class="dropdown-content">
                <v-layout row wrap>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Topwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Topwear" :key="i">
                                        <a @click="filterCat(item, 'Female')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Bottomwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Bottomwear" :key="i">
                                        <a @click="filterCat(item, 'Female')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Footwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Footwear" :key="i">
                                        <a @click="filterCat(item, 'Female')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <!-- end -->

        <!-- female -->
        <div class="dropdown hidden-xs-only hidden-sm-only">
            <v-btn class="font-weight-medium caption dropbtn grey--text" color="white" flat>Kids</v-btn>
            <v-container class="dropdown-content">
                <v-layout row wrap>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Topwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Topwear" :key="i">
                                        <a @click="filterCat(item, 'Kids')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Bottomwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Bottomwear" :key="i">
                                        <a @click="filterCat(item, 'Kids')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                    <v-flex xs4>
                        <v-card flat>
                            <v-container grid-list-md>
                                <span class="subheading font-weight-bold">Footwear</span>
                                <ul class="footer_ul">
                                    <li v-for="(item, i) in Footwear" :key="i">
                                        <a @click="filterCat(item, 'Kids')" class="grey--text">{{item.productCateName}}</a>
                                    </li>
                                </ul>
                            </v-container>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </div>
        <!-- end -->
        <v-spacer />
        <v-combobox class="mb-0 mt-2" flat v-model="model" :items="items2" v-show="show" prepend-inner-icon="search" solo placeholder="Search" :search-input.sync="search">
        </v-combobox>
        <v-btn @click="show = !show" icon>
            <v-icon v-if="!show">search</v-icon>
            <v-icon v-else>close</v-icon>
        </v-btn>
        <v-btn flat v-show="!ifLoged" @click="dialog = true" class="hidden-xs-only">
            LogIn
        </v-btn>
        <LogIn @close="dialog = false" @open="dialog = true" :dialog="dialog" />
        <div class="hidden-xs-only hidden-sm-only" v-show="!show">
            <AccountList :lists="lists" v-show="ifLoged" />
        </div>
        <v-btn icon v-show="!show" @click="checkFunction">
            <v-icon v-if="!Favorite">favorite_border</v-icon>
            <v-icon v-else color="primary">favorite</v-icon>
            <template v-slot:badge>
                <span class="caption">6</span>
            </template>
        </v-btn>
        <v-btn icon v-show="!show" @click="checkUserAuth">
            <v-badge v-model="shopNum" overlap color="primary">
                <template v-if="BegItemLength != 0" v-slot:badge>
                    <span class="caption">{{BegItemLength}}</span>
                </template>
                <v-icon>shopping_cart</v-icon>
            </v-badge>
        </v-btn>
    </v-toolbar>
    <v-navigation-drawer class="hidden-lg-only" v-model="drawer" fixed>
        <v-list class="pa-1">
            <v-list-tile avatar tag="div">
                <v-list-tile-content>
                    <v-list-tile-title class="text-md-center headline text-capitalize font-weight-bold">{{ profileName }}</v-list-tile-title>
                </v-list-tile-content>

                <v-list-tile-action>
                    <v-btn icon @click.stop="drawer = !drawer">
                        <v-icon>chevron_left</v-icon>
                    </v-btn>
                </v-list-tile-action>
            </v-list-tile>
        </v-list>
        <v-list class="pt-0" dense>
            <v-divider></v-divider>
            <v-list-tile class="grey--text">SHOP IN</v-list-tile>
            <v-list-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Men</v-list-tile-title>
                </v-list-tile>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Topwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Topwear" :key="i" @click="filterCat(menu, 'Male', 'Topwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Bottomwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Bottomwear" :key="i" @click="filterCat(menu, 'Male', 'Bottomwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
                <v-list-group v-if="Footwear != ''" sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Footwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Footwear" :key="i" @click="filterCat(menu, 'Male', 'Footwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
            </v-list-group>
            <!-- end -->

            <!-- female -->
            <v-list-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Women</v-list-tile-title>
                </v-list-tile>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Topwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Topwear" :key="i" @click="filterCat(menu, 'Female', 'Topwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Bottomwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Bottomwear" :key="i" @click="filterCat(menu, 'Female', 'Bottomwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
                <v-list-group v-if="Footwear != ''" sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Footwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Footwear" :key="i" @click="filterCat(menu, 'Female', 'Footwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
            </v-list-group>

            <!-- kids -->
            <v-list-group>
                <v-list-tile slot="activator">
                    <v-list-tile-title>Kids</v-list-tile-title>
                </v-list-tile>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Topwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Topwear" :key="i" @click="filterCat(menu, 'Kids', 'Topwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Bottomwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Bottomwear" :key="i" @click="filterCat(menu, 'Kids', 'Bottomwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-content>
                            <v-list-tile-title>Footwear</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile v-for="(menu, i) in Footwear" :key="i" @click="filterCat(menu, 'Kids', 'Footwear')">
                        <v-list-tile-content>
                            <v-list-tile-title>{{ menu.productCateName }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list-group>
            </v-list-group>
            <v-list-tile v-show="ifLoged" class="grey lighten-4" v-for="list in lists" :key="list.title" :to="list.path">
                <v-list-tile-action>
                    <v-icon :class="list.icon">{{list.icon}}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>{{list.title}}</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-show="!ifLoged" @click="dialog = true">
                <v-list-tile-action>
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>LogIn</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-tile v-show="ifLoged" @click="LogOut">
                <v-list-tile-action>
                    <v-icon>exit_to_app</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                    <v-list-tile-title>LogOut</v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</div>
</template>

<script>
import getdata from '../../http/productCat'
import AccountList from "../AccountCombo/AccountCombo"
import getImage from '../../http/uploadImage'
import LogIn from "../LogIn/LogIn"
import home from "../../http/Home"
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    components: {
        LogIn,
        AccountList,
        // AlertMessage 
    },
    data() {
        return {
            items2: [],
            model: '',
            Favorite: false,
            shopNum: true,
            ifLoged: false,
            drawer: false,
            items1: [{
                    title: 'Home',
                    icon: 'dashboard'
                },
                {
                    title: 'About',
                    icon: 'question_answer'
                }
            ],
            menus: [
                'Men',
                'Women',
                'Kids'
            ],
            mini: false,
            right: null,
            lists: [{
                    title: "My Account",
                    icon: "person_outline",
                    path: "/account"
                },
                {
                    title: "My Whishlist",
                    icon: "favorite_border",
                    path: "/wishlist"
                },
                {
                    title: "My Order",
                    icon: "shopping_basket",
                    path: "/orderlist"
                }
            ],
            Topwear: [],
            Bottomwear: [],
            Footwear: [],
            categories: [],
            dialog: false,
            show: false,
            searchTitle: "Search for products, brands and more",
            loading: false,
            items: [],
            search: null,
            select: null,
            BegItemLength: 0,
            profileName: '',
            states: [
                'Alabama',
                'Alaska',
                'American Samoa',
                'Arizona',
                'Arkansas'
            ]
        }
    },
    watch: {
        async search(val) {
            this.$router.push({
                path: '/filter',
                query: {
                    product: val
                }
            })
            this.$root.$emit('search')
            val && val !== this.select && this.querySelections(val)
        }
    },
    mounted() {
        this.$root.$on('LoginMobile', () => {
            this.accountDetails()
        })
        this.$root.$on('checkStorageData', () => {
            this.ifFavorite()
        })
        this.$root.$on('compo', () => {
            this.ifLogin()
        })
        this.$root.$on('logout', () => {
            this.isLogout()
        })
        this.$root.$on('fatchBegLength', () => {
            this.fatchBegItemLength()
        })
        this.ifLogin()
    },
    created() {
        this.ifFavorite()
        this.fatchBegItemLength()
        this.initialize()
        this.accountDetails()
        this.GetGender()
    },
    methods: {
        async filterCat(item, gender){
            this.$router.push({
                path: '/filter',
                query: {
                    gender: gender,
                    productType: item.productType,
                    productCateName: item.productCateName
                }
            })
            this.$root.$emit('filter')
        },
        async initialize() {
            try {
                var data = await getImage.getPosts();

                data.map((value) => {
                    if (value.CompoCateName === 'categories') {
                        this.categories.push(value)
                    }

                });
            } catch (err) {
                this.snackbar = true
                this.color = 'error'
                this.text = err.message;
            }
        },
        async GetGender() {
            await getdata.getProductCat()
            .then(res=>{
                res.data.data.map(value=>{
                    if (value.productType == 'Topwear') {
                        this.Topwear.push(value)
                    }else if (value.productType == 'Bottomwear') {
                        this.Bottomwear.push(value)
                    }else{
                        this.Footwear.push(value)
                    }
                })
            })
            .catch(err => {
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        },
        LogOut() {
            this.$root.$emit('logout')
            localStorage.removeItem('token')
            this.profileName = 'Guest'
            this.$router.push('/')
            this.$root.$emit('checkStorageData')
            this.$root.$emit('initializeToken')
            this.drawer = false
        },
        accountDetails() {
            const accountDetails = localStorage.getItem('token')
            if (accountDetails) {
                const verifyUserData = this.$jwt.decode(accountDetails, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                if (verifyUserData.role == 'Admin') {
                    this.$root.$emit('isAdmin')
                } else {
                    this.$root.$emit('isUser')
                    this.profileName = verifyUserData.userDetails.firstName + ' ' + verifyUserData.userDetails.lastName
                }
            } else {
                this.profileName = 'Guest'
            }
        },
        checkUserAuth() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                this.$router.push({
                    path: '/cart'
                })
            } else {
                this.$root.$emit('dialog')
            }
        },
        checkFunction() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                this.$router.push({
                    path: '/wishlist'
                })
            } else {
                this.$root.$emit('dialog')
            }
        },
        querySelections(v) {
            this.loading = true
            // Simulated ajax query
            setTimeout(() => {
                this.items = this.states.filter(e => {
                    return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
                })
                this.loading = false
            }, 500)
        },
        ifLogin() {
            const verifyToken = localStorage.getItem('token')
            if (verifyToken) {
                this.ifLoged = true;
            } else {
                this.ifLoged = false;
            }
        },
        isLogout() {
            this.ifLoged = false
        },
        async fatchBegItemLength() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await home.getBagList(verifyUserData._id)
                    .then(res => {
                        this.BegItemLength = res.data.Data.length
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            }
        },
        async ifFavorite() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await home.getFavoriteList(verifyUserData._id)
                    .then(res => {
                        if (res.data.Data == '') {
                            this.lists[1].icon = 'favorite_border'
                            this.Favorite = false
                        } else {
                            this.lists[1].icon = 'favorite'
                            this.Favorite = true
                        }
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                this.Favorite = false
            }
        }
    }
}
</script>

<style>
.text_shadow {
    text-shadow: 1px 1px 1px #ccc
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 1px 1px #ddd;
    left: 0;
    right: 0;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
