<template>
<v-container class="pa-0 py-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3498.519960701448!2d77.28661961469173!3d28.733888782377928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf90b00fe8267%3A0xae9a3fd076561935!2sShera+enterprises!5e0!3m2!1sen!2sin!4v1564055555161!5m2!1sen!2sin" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe><br><br>
    
    <span class="title">Our Contact</span><br>
    <span class="grey--text">Param Hans Vihar, Laxmi Garden,<br> Raj Nagar, Loni, Ghaziabad,<br> Uttar Pradesh 201102</span><br><br>

    <v-container class="pa-0" grid-list-md>
        <v-layout wrap justify-center>
            <v-flex xs12 md8 sm12>
                <v-card flat class="border-min pa-4">
                    <v-text-field v-model="firstname" label="Full name" required></v-text-field>
                    <v-text-field v-model="email" label="Enter Email" required></v-text-field>
                    <v-text-field v-model="contect" mask="phone" label="Contect" required></v-text-field>
                    <v-textarea v-model="message" label="Message" auto-grow rows="1" row-height="15"></v-textarea>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn v-if="firstname != '' && email != '' && contect.length == 10 && message != ''" color="primary">
                            send
                            <v-icon right>send</v-icon>
                        </v-btn>
                        <v-btn v-else disabled color="primary">
                            send
                            <v-icon right>send</v-icon>
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>

</v-container>
</template>

<script>
export default {
    data() {
        return {
            firstname: '',
            email: '',
            contect: '',
            message: ''
        }
    }
}
</script>
