<template>
<v-container class="pa-0 pb-4">
    <v-btn flat class="mb-4 ml-0" @click="$router.go(-1)">
        <span>
            <v-icon>keyboard_arrow_left</v-icon>
        </span>
        Go Back
    </v-btn>
    <v-container class="pa-0" fluid grid-list-sm>
        <v-btn flat class="mb-4 ml-0" @click="clearOrderList">
        Clear Order List
    </v-btn>
        <v-layout row wrap>
            <v-flex d-flex xs12 sm6 md6 v-for="(item, index) in desserts" :key="index">
                <div class="border-min">
                    <div v-for="(order, i) in item.productDetails" :key="i">
                        <OrderList :name="order.productName" :productPrice="order.productPrice" :footSize="order.footSize" :image="order.productRelativeImages" :date="order.createdAt" />
                    </div>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <!-- <v-btn small flat class="border-min" color="primary">cancel</v-btn> -->
                        <v-btn large flat color="primary" @click="trackOrder(item.productDetails, item.address)" class="border-min ma-0">Track Order</v-btn>
                    </v-card-actions>
                </div>
            </v-flex>
        </v-layout>
    </v-container>
    <v-layout row justify-end>
        <v-dialog v-model="dialog" persistent max-width="400px">
            <v-card>
                <v-btn icon @click="dialog = false" flat class="icon_right">
                <v-icon>close</v-icon>
            </v-btn>
                <v-card-title>
                </v-card-title>
                <div class="border-min ma-4">
                    <v-chip color="primary" text-color="white" class="thisIsMy text-capitalize" label>{{ address.ThisIsMy }}</v-chip>
                    <v-card-title>
                        <div>
                            <span class="font-weight-bold title">{{ address.RecieverName }}</span><br><br>
                            <span class="grey--text">{{ address.Address }}</span><br><br>
                            <span class="grey--text">{{ address.PinCode }}</span><br>
                            <span class="grey--text">Contact Number: {{ address.PhoneNumber }}</span>
                        </div>
                    </v-card-title>
                </div>

                <v-card flat class="pa-4">
                    <p class="font-weight-black title">
                         Summary
                    </p>
                    <div class="layout justify-space-between font-weight-light mb-2 subheading">
                        <span>Card Total</span>
                        <span>₹ {{totalProductActual}}</span>
                    </div>
                    <div class="layout justify-space-between font-weight-light mb-2 subheading">
                        <span>Shipping Charges</span>
                        <span class="green--text font-weight-bold">FREE</span>
                    </div>
                    <div class="layout justify-space-between font-weight-light mb-2 subheading">
                        <span>COD</span>
                        <span class="green--text font-weight-bold">FREE</span>
                    </div>
                    <div class="layout justify-space-between font-weight-light mb-2 subheading">
                        <span>Order Price</span>
                        <span>₹ {{totalProductPrice}}</span>
                    </div>
                    <v-divider></v-divider>
                    <div class="layout justify-space-between title font-weight-bold my-3">
                        <span>Payable Amount</span>
                        <span>₹ {{totalProductPrice}}</span>
                    </div>
                    <v-divider></v-divider>
                </v-card>
            </v-card>
        </v-dialog>
    </v-layout>
</v-container>
</template>

<script>
import OrderList from '../../../components/Cards/Order'
import home from '../../../http/Home'
import clear from '../../../http/subscribe'
export default {
    components: {
        OrderList
    },
    data() {
        return {
            address: [],
            totalProductPrice: '',
            totalProductActual: '',
            dialog: false,
            headers: [{
                    text: 'Purchase Item',
                    align: 'left',
                    sortable: false,
                    value: 'Purchase Item'
                },
                {
                    text: 'Delivery',
                    value: 'Delivery'
                },
                {
                    text: 'Payment',
                    value: 'Payment'
                },
                {
                    text: 'Track',
                    value: 'Track'
                },
            ],
            desserts: []
        }
    },
    created() {
        this.getUserOrders()
    },
    methods: {
        async clearOrderList(){
            // unsetOrder
            const getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await clear.unsetOrder(verifyUserData._id)
                .then(res=>{
                    this.desserts = []
                    this.$toast(res.data.message, {
                        color: 'green',
                        dismissable: true
                    })
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
        trackOrder(index, address) {
            this.dialog = true
            this.address = address
            const productPrice = []
            const actualPrice = []
            index.map(value => {
                productPrice.push(parseInt(value.productPrice) * parseInt(value.Qty))
                actualPrice.push(parseInt(value.productActualPrice) * parseInt(value.Qty))
            })
            this.totalProductPrice = productPrice.reduce((a, b) => a + b, 0)
            this.totalProductActual = actualPrice.reduce((a, b) => a + b, 0)
        },
        async getUserOrders() {
            const getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await home.userOrders(verifyUserData._id)
                    .then(res => {
                        this.desserts = res.data.data
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            }
        }
    }
}
</script>
