<template>
<div>

    <v-dialog v-model="dialog" persistent max-width="390">
        <v-card>
            <v-btn icon flat @click="close" class="icon_right">
                <v-icon>close</v-icon>
            </v-btn>
            <v-card flat v-show="!show1">
                <v-card-text class="text-xs-center">
                    <h3 v-if="show" width="100%" class="headline">Log In</h3>
                    <h3 v-else width="100%" class="headline">Sign Up</h3>
                    <br>
                    <span class="headline mt-5">Discover Fashion!</span><br>
                    <span class="body-2 grey--text ">You're just one step away from signing up</span>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-text class="pb-0" v-show="show">
                    <Alert :alert="alert" :color="color" :icon="icon" :text="text" />
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <!-- username field -->
                        <v-text-field label="Email/Mobile No." :rules="nameRules" v-on:keyup.enter="validate" v-model="userCredentials.username" required></v-text-field>
                        <!-- password field -->
                        <v-text-field label="Password" @click:append="show2 = !show2" :rules="nameRules" v-on:keyup.enter="validate" v-model="userCredentials.password" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" required></v-text-field>
                        <!-- validate button -->
                        <span class="body-2 grey--text"><a @click="show = false">Forgot Password</a></span><br>
                        <v-btn block color="primary" @click="validate" large dark :loading="loading">Continue</v-btn>
                    </v-form>
                </v-card-text>
                <v-card-text v-show="!show">
                    <!-- forget password form -->
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <!-- username section for get otp -->
                        <v-text-field v-show="mobile" label="Mobile No." v-on:keyup.enter="forgetPass" v-model="username" required></v-text-field>

                        <!-- otp section -->
                        <v-text-field v-show="verifyOTP" label="Enter OTP." v-model="otp" v-on:keyup.enter="forgetPass" required></v-text-field>                        
                        <!-- validate button -->

                        <!-- new password -->
                        <v-text-field v-show="showaftersuccess" label="Make New password" v-on:keyup.enter="forgetPass" v-model="newPaas" required></v-text-field>
                        
                        <span class="body-2 grey--text"><a @click="show = false">Forgot Password</a></span><br>
                        <v-btn block color="primary" @click="forgetPass" large dark :loading="loading">{{updateMethod}}</v-btn>
                    </v-form>
                    <v-btn block flat class="brand_btn" @click="show1 = true">
                        <span><v-icon left>phone</v-icon></span>
                        <span>Sign up with mobile number</span>
                    </v-btn>
                </v-card-text>
            </v-card>
            <Regiter v-show="show1" />
            <v-card-text class="px-0 pt-0">
                <p v-if="!show" class="mb-0 mt-2 text-xs-center">Have an account? <a @click="logIn" href="#">LOG IN</a></p>
                <p v-else class="mb-0 mt-2 text-xs-center">New to SheraKart? <a @click="show=!show" href="#">SIGN UP</a></p>
            </v-card-text>
        </v-card>
    </v-dialog>
</div>
</template>

<script>
import Regiter from '../../components/LogIn/Register'
import Alert from '../../components/Snackbar/AlertMessage'
import PostLogin from '../../http/postLogin'
export default {
    props:['dialog'],
    components: {
        Regiter,
        Alert
    },
    data() {
        return {
            newPaas: '',
            updateMethod: 'send otp',
            showaftersuccess: false,
            mobile: true,
            verifyOTP: false,
            show2: false,
            alert: false,
            color: '',
            icon: '',
            text: '',
            loading: false,
            show1: false,
            show: true,
            username: '',
            otp: '',
            userCredentials: {
                username: '',
                password: ''
            },
            valid: true,
            nameRules: [
                v => !!v || 'This field is required',
                v => v.length <= 50 || 'Name must be less than 10 characters'
            ],
        }
    },
    mounted() {
        this.$root.$on('dialogHide', () => {
            this.dialogFalse()
        })
        this.$root.$on('dialog', () =>{
            this.loginPopup()
        })
    },
    methods: {
        forgetPass(){
            if (this.mobile == true) {
                if (this.username == '') {
                    this.$toast('Please enter registered mobile number', {
                        color: 'red',
                        dismissable: true
                    })
                }else{
                    this.loading = true
                    this.getOTP()
                }
            }
            if (this.verifyOTP == true) {
                if (this.otp == '') {
                    this.$toast('Please enter OTP', {
                        color: 'red',
                        dismissable: true
                    })   
                }else{
                    this.loading = true
                    this.verifyPhone() 
                }
            }
            if (this.showaftersuccess == true) {
                if (this.newPaas == '') {
                    this.$toast('Can not be empty', {
                        color: 'red',
                        dismissable: true
                    })
                }else{
                    this.loading = true
                    this.updatePass()
                }
            }
        },
        async getOTP(){
            await PostLogin.getOtpUpdatePass(this.username)
            .then(res=>{
                if (res.data.status == 'error') {
                    this.loading = false
                    this.$toast(res.data.message, {
                        color: 'red',
                        dismissable: true
                    })
                }else{
                    this.loading = false
                    this.mobile = false
                    this.verifyOTP = true
                    this.updateMethod = 'verify Phone Number'
                }
            })
            .catch(err=>{
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        },
        async verifyPhone(){
            const data = {
                otp:this.otp
            }
            await PostLogin.verifyPhoneNumber(data, this.username)
            .then(res=>{
                if (res.data.status == 'error') {
                    this.loading = false
                    this.$toast(res.data.message, {
                        color: 'red',
                        dismissable: true
                    })
                }else{
                    this.verifyOTP = false
                    this.mobile = false
                    this.showaftersuccess = true
                    this.loading = false
                    this.updateMethod = 'Make New Password'
                }
            })
        },
        async updatePass(){
            const data = {
                password: this.newPaas,
                otp:this.otp
            }
            await PostLogin.UpdatePassword(data, this.username)
            .then(res=>{
                if (res.data.status == 'error') {
                    this.loading = false
                    this.$toast(res.data.message, {
                        color: 'red',
                        dismissable: true
                    })
                }else{
                    this.$toast(res.data.message, {
                        color: 'green',
                        dismissable: true
                    })
                    this.verifyOTP = false
                    this.mobile = true
                    this.username = ''
                    this.otp = ''
                    this.newPaas = ''
                    this.showaftersuccess = false
                    this.loading = false
                    this.updateMethod = 'Send otp'
                    this.show = true
                }
            })
        },
        close(){
            this.$emit('close')
        },
        loginPopup(){
            // this.dialog = true
            this.$emit('open')
        },
        validate() {
            if (this.$refs.form.validate()) {
                this.login()
            }
        },
        logIn() {
            this.show1 = false
            this.show = true
        },
        dialogFalse() {
            this.$emit('close')            
        },
        async login() {
            this.loading = true
            await PostLogin.LoginUser(this.userCredentials)
            .then(res => {
                if (res.data.status == 'success') {
                    localStorage.setItem('token', res.data.message)
                    this.loading = false
                    this.$root.$emit('LoginMobile')
                    this.$emit('close')
                    this.$root.$emit('compo')
                    this.$root.$emit('fatchBegLength')
                    this.$root.$emit('accountItemList')
                    this.$root.$emit('checkStorageData')
                    this.$root.$emit('initializeToken')
                } else {
                    this.loading = false;
                    this.alert = true
                    this.color = res.data.status
                    this.icon = 'warning'
                    this.text = res.data.message
                }
            })
            .catch(err=>{
                this.loading = false
                this.$toast(err.message, {
                    color: 'red',
                    dismissable: true
                })
            })
        }
    }
}
</script>

<style>
.brand_btn {
    border: 1px solid #aeaeae;
    border-radius: 5.8px;
    color: #5c5c5c;
    display: inline-block;
    font-size: 11px;
    height: 39px;
    line-height: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    width: calc(100% - 5px);
}

.brand_img_icon {
    float: left;
    margin-left: 30px;
    vertical-align: middle;
    width: 20px;
}

.icon_right {
    position: absolute !important;
    right: 0;
    z-index: 1;
}
.v-dialog{
    border-radius: 20px;
}
</style>
