<template>
<v-card-text class="pa-0">
    <div v-show="show">
        <v-card-text class="text-xs-center">
            <h3 v-if="show" width="100%" class="headline">Register</h3>
        </v-card-text>
        <v-card-text class="py-0">
            <Alert :alert="alert" :color="color" :icon="icon" :text="text" />
            <v-form ref="register" v-model="valid" lazy-validation>
                <v-container fluid class="pa-0" grid-list-md>
                    <v-layout row wrap class="px-2">
                        <v-flex xs12 md6>
                            <v-text-field :rules="nameRules" v-on:keyup.enter="validate" v-model="newUser.firstName" label="Name" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md6>
                            <v-text-field :rules="nameRules" v-on:keyup.enter="validate" label="Last Name" v-model="newUser.lastName" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-text-field :rules="nameRules" mask="phone" v-on:keyup.enter="validate" label="Mobile" v-model="newUser.phoneNumber" required></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-text-field :rules="emailRules" v-on:keyup.enter="validate" label="Email Id" v-model="newUser.email" required></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                            <v-text-field label="New Password" :rules="nameRules" v-model="newUser.password" :append-icon="show2 ? 'visibility' : 'visibility_off'" :type="show2 ? 'text' : 'password'" @click:append="show2 = !show2"></v-text-field>
                        </v-flex>
                        <v-flex xs12 md12>
                            <v-radio-group :rules="nameRules" v-on:keyup.enter="validate" row v-model="newUser.gender">
                                <v-radio label="Male" value="Male"></v-radio>
                                <v-radio label="Female" value="Female"></v-radio>
                            </v-radio-group>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-btn block color="primary" large dark @click="validate" :loading="loading">Register</v-btn>
            </v-form>
        </v-card-text>
    </div>

    <div v-show="!show">
        <v-card-text class="text-xs-center">
            <h3 v-if="show" width="100%" class="headline">OTP</h3>
            <br>
          </v-card-text>
            <v-card-text>
                <v-form ref="form" v-model="valid" lazy-validation>
                    <v-layout row wrap>
                        <p>Check your phone send OTP:</p>
                        <span class="mr-2 ml-3" id="time"></span>
                        <span id="resend" style="display: none" class='error--text ml-3'>Resend OTP
                    <v-btn color="error" flat icon>
                    <v-icon>cached</v-icon>
                    </v-btn>
                  </span>
                        <v-flex xs12 md12>
                            <v-text-field label="OTP" type="number" v-on:keyup.enter="verify" v-model="OTP" :rules="nameRules" required></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-btn block color="primary" @click="verify" large dark>Verify</v-btn>
                </v-form>
            </v-card-text>
    </div>
</v-card-text>
</template>

<script>
import Vue from 'vue'
import PostUsers from '../../http/postLogin';
import Alert from '../../components/Snackbar/AlertMessage'
import Timer from 'easytimer.js';
import VueCookie from 'vue-cookie'
Vue.use(VueCookie)
export default {
    components:{
      Alert
    },
    data() {
        return {
            show2: false,
            alert: false,
            color: '',
            icon: '',
            text: '',
            loading: false,
            show: true,
            dialog: false,
            valid: true,
            newUser: {
                firstName: '',
                lastName: '',
                email: '',
                password: '',
                phoneNumber: '',
                gender: ''
            },
            OTP: '',
            nameRules: [
                v => !!v || 'This is required',
                v => v.length <= 50 || 'Name must be less than 10 characters'
            ],
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+/.test(v) || 'E-mail must be valid'
            ],
        }
    },
    methods: {
        validate() {
            if (this.$refs.register.validate()) {
                this.submit()
            }
        },
        verify() {
            if (this.$refs.form.validate()) {
                this.verificationOtp()
            }
        },
        async submit() {
            this.loading = true
            await PostUsers.insertPost(this.newUser)
                .then(response => {
                    if (response.data.status == 'success') {
                        this.$cookie.set('_id', response.data.data._id);
                        this.loading = false
                        this.show = false
                        this.value = false
                        this.timing()
                        this.loadingbox = false
                    } else {
                        this.loading = false
                        this.icon = 'warning'
                        this.color = 'error'
                        this.alert = true;
                        this.text = response.data.message
                    }
                })
                .catch(err=>{
                    this.loading = false;
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },
        async verificationOtp() {
            this.loading = true
            const verifyId = this.$cookie.get('_id')
            await PostUsers.verifyOtp(verifyId, this.OTP)
                .then(response => {
                    if (response.data.status == 'success') {
                        this.loading = false
                        this.$root.$emit('dialogHide')
                        this.loginAfterVerifyOtp()
                    } else {
                        this.loading = false
                        this.icon = 'warning'
                        this.color = 'error'
                        this.alert = true;
                        this.text = response.data.message
                        this.OTP = ''
                    }
                })
                .catch(err=>{
                    this.loading = false;
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
                
        },
        async loginAfterVerifyOtp() {
            const userCredentials = {
                username: this.newUser.phoneNumber,
                password: this.newUser.password
            }
            await PostUsers.LoginUser(userCredentials)
                .then(res => {
                    if (res.data.status == 'success') {
                        localStorage.setItem('token', res.data.message)
                        this.$root.$emit('compo')
                        this.$root.$emit('accountItemList')
                        this.$root.$emit('fatchBegLength')
                        this.$root.$emit('checkStorageData')
                    } else {
                        this.loading = false
                        this.icon = 'warning'
                        this.color = 'error'
                        this.alert = true;
                        this.text = res.data.message
                        this.OTP = ''
                    }
                })
                .catch(err=>{
                    this.loading = false;
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },
        timing() {
            document.getElementById('time').style.display = 'block'
            document.getElementById('resend').style.display = 'none'
            this.e1 = 2
            var timer = new Timer()
            timer.start({
                countdown: true,
                startValues: {
                    seconds: 120
                }
            })
            timer.addEventListener('secondsUpdated', function () {
                let tm = timer.getTimeValues().toString()
                document.getElementById('time').innerHTML = tm
            })
            timer.addEventListener('targetAchieved', function () {
                document.getElementById('resend').style.display = 'block'
                document.getElementById('time').style.display = 'none'
            })
        }
    }
}
</script>
