<template>
<div>
    <v-container class="pa-0 mt-4" grid-list-md>
        <v-layout row wrap justify-center>
            <v-flex v-for="(list, i) in lists" :key="i" xs6 md2 sm3>
                <v-card hover class="radius-min pa-3 grey lighten-5" :to='list.path'>
                    <h2 class="headline mb-2">{{ list.title }}</h2>
                    <p class="grey--text">{{ list.subtitle }}</p>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
    <v-container v-if="images != ''" grid-list-md>
        Recently added in wishlist <v-btn small flat color="primary" to="/wishlist"> View All</v-btn>
        <v-layout row wrap>
            <v-flex d-flex v-for="(list, i) in images" :key="i" xs6 md2 sm3>
                <RecentCard :_id="list._id" :favoritePro="list.favorite" :name="list.productName" :price="list.productPrice" :image="list.productRelativeImages[0]" />
            </v-flex>
        </v-layout>
    </v-container>
    <empty v-else />
</div>
</template>

<script>
import empty from "../../../components/empty/empty"
import RecentCard from '../../../components/Cards/RecentCard'
import getImage from '../../../http/Home'
export default {
    components:{
        empty,
        RecentCard
    },
    data() {
        return {
            images: [],
            lists: [{
                    title: 'My Orders',
                    subtitle: 'View, modify and track orders',
                    path: "/orderlist"
                },
                {
                    title: 'My Addresses',
                    subtitle: 'Edit, add or remove addresses',
                    path: "/address"
                },
                {
                    title: 'My Profile',
                    subtitle: 'Edit personal info, change password',
                    path: "/profile"
                }
            ]
        }
    },
    created(){
        this.init()
    },
    methods:{
        async init() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.getFavoriteList(verifyUserData._id)
                    .then(res => {
                        this.images = res.data.Data
                        console.log(this.images)
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                this.$root.$emit('checkStorageData')
            }
        }
    }
}
</script>
