<template>
<div>
    <v-alert :value="alert" :color="color" :icon="icon" outline>
        {{ text }}
    </v-alert>
</div>
</template>

<script>
export default {
    props:['alert', 'color', 'icon', 'text']
}
</script>
