<template>
<div>
    <v-container v-show="!show">
        <v-btn flat class="mb-4 ml-0" @click="$router.go(-1)">
            <span>
                <v-icon>keyboard_arrow_left</v-icon>
            </span>
            Go Back
        </v-btn>
        <v-layout row wrap>
            <v-flex xs12 sm6 md6>
                <ProductSlider :images="specificProData.productRelativeImages" />
            </v-flex>
            <v-flex xs12 sm6 md6>
                <v-card flat class="mx-2 pa-4">
                    <v-btn icon color="white" class="icon_right" @click="favoritePro">
                        <v-icon :class="specificProData.favorite">{{ specificProData.favorite}} </v-icon>
                    </v-btn>
                    <p>{{ specificProData.productName }}</p>
                    <v-btn color="primary" flat small class="ml-0">
                        CLEARANCE PRICE
                    </v-btn> <br><br>
                    <span class="display-1">₹ {{ specificProData.productPrice }}</span><br>
                    <span class="body-1 text_under mr-2">₹ {{ specificProData.productActualPrice }}</span>
                    <span class="body-1 light-green--text">{{ specificProData.productDiscount }}% OFF</span><br><br>
                    <span class="caption grey--text"> {{ specificProData.productDescription }}</span><br><br>
                    <div>
                        <p class="subheading">Select Size</p>
                        <v-layout row wrap>
                            <v-flex xs12 md2 d-flex v-for="(value, i) in specificProData.productSizes" :key="i">
                                <div class="choices-group mb-1">
                                    <input v-model="sizeValue" :id="`choice${i}`" type="radio" name="choice" :value="value">
                                    <label :for="`choice${i}`">
                                        <span>{{ value }}</span>
                                    </label>
                                </div>
                            </v-flex>
                        </v-layout>
                    </div><br>
                    <div>
                        <br><br>
                        <v-btn color="primary" @click="addToBag" block large class="ma-0">
                            ADD TO BAG
                        </v-btn>
                    </div>

                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
    <Loading v-show="show" />
</div>
</template>

<script>
import Loading from '../../../components/SheraLoader/Loading'
import ProductSlider from '../../../components/Slider/ProductSlider'
import SpecificData from '../../../http/Home'
export default {
    components: {
        ProductSlider,
        Loading
    },
    data() {
        return {
            sizes: [],
            specificProData: [],
            sizeValue: '',
            show: true
        }
    },
    created() {
        this.getSpecificData();
    },
    methods:{
        async addToBag(){
            const getToken = localStorage.getItem('token')
            if (getToken) {
                if (this.sizeValue == '') {
                this.$toast("please select size", {
                    color: 'red',
                    dismissable: true
                })
                }else{
                    var data = JSON.parse(JSON.stringify(this.specificProData))
                    data["footSize"] = this.sizeValue
                    data["Qty"] = '1'
                    const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                    await SpecificData.moveToBagSpecfic(data, verifyUserData._id, this.specificProData._id)
                        .then(res => {
                            if (res.data.status == 'success') {
                                this.$root.$emit('checkStorageData')
                                this.$root.$emit('fatchBegLength')
                                this.$toast(res.data.message, {
                                    color: 'green',
                                    dismissable: true
                                })
                            } else {
                                this.$toast(res.data.message, {
                                    color: 'orange',
                                    dismissable: true
                                })
                            }
                        })
                        .catch(err => {
                            this.$toast(err.message, {
                                color: 'red',
                                dismissable: true
                            })
                        })
                }
            }else{
                this.$root.$emit('dialog')
            }
        },
        async favoritePro() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                if (this.specificProData.favorite == 'favorite') {
                    this.specificProData.favorite = 'favorite_border'
                    this.$router.push({
                        query: {
                            _id: this.$route.query._id,
                            favorite: 'favorite_border'
                        }
                    })
                } else {
                    this.specificProData.favorite = 'favorite'
                    this.$router.push({
                        query: {
                            _id: this.$route.query._id,
                            favorite: 'favorite'
                        }
                    })
                }
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await SpecificData.favoriteItem(this.specificProData, verifyUserData._id, this.specificProData._id)
                    .then(res => {
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                        this.$root.$emit('checkStorageData')
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                this.$root.$emit('dialog')
            }
        },
        async getSpecificData() {
            this.show = true
            await SpecificData.getProductById(this.$route.query._id)
                .then(res => {
                    this.specificProData = res[0]
                    res[0].favorite = this.$route.query.favorite
                    this.show = false
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
        },
    }
}
</script>

<style>
.radius {
    border-radius: 10px;
}

.icon_right {
    position: absolute !important;
    top: 10px;
    right: 10px;
}

.size_border {
    border: 1px solid #e6e6e6;
}

.text_under {
    text-decoration: line-through
}

.choices-group {
    display: flex;
    justify-content: space-around;
}

.choices-group input[type=radio] {
    display: none;
    appearance: none;
}

.choices-group input[type=radio]:checked+label {
    border: 1px solid #FF9800;
    transform: scale(1.1);
}

.choices-group input[type=radio]:active+label {
    transform: scale(0.9) rotate(4deg);
}

.choices-group label {
    display: flex;
    justify-content: center;
    width: 95%;
    transition: all 0.1s;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid #ddd;
}

.choices-group label:hover {
    border: 1px solid #FF9800;
}
</style>
