<template>
<v-app class="mt-5 white">
    <userNavbar v-show="show" />
    <adminNavbar v-show="!show" />
    <v-content  >
        <router-view />
    </v-content>
    <Footer v-show="show" />
</v-app>
</template>

<script>
import adminNavbar from './components/Navbar&Footer/AdminNavbar'
import userNavbar from './components/Navbar&Footer/UserNavbar'
import Footer from './components/Navbar&Footer/Footer'
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    components: {
        adminNavbar,
        userNavbar,
        Footer
    },
    data() {
        return {
            show: false,
            scrolledToBottom: false
        }
    },
    mounted() {
        this.$root.$on('isAdmin', () => {
            const token = localStorage.getItem('token')
            if (token) {
                this.show = false   
            }else{
                this.show = true
            }
        })
        this.$root.$on('isUser', () => {
            this.show = true
        })
        this.scroll()
    },
    created() {
        this.initialize()
    },
    methods: {
        initialize() {
            const accountDetails = localStorage.getItem('token')
            if (accountDetails) {
                const verifyUserData = this.$jwt.decode(accountDetails, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                if (verifyUserData.role == 'Admin') {
                    this.show = false
                } else {
                    this.show = true
                }
            } else {
                this.show = true
            }
        },
        scroll() {
            window.onscroll = () => {
                let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight
                if (bottomOfWindow) {
                    this.scrolledToBottom = true
                }
            }
        }
    }
}
</script>

<style>
@media only screen and (max-width: 768px) {
    .padding-min {
        padding: 0 !important
    }

    .title_text {
        font-size: 25px !important;
        margin-bottom: 10px !important;
    }

    .outlineHeader {
        width: 60px !important;
        height: 2px !important;
    }
}

.border-min {
    border: 1px solid #ddd !important;
}
.icon_right {
    position: absolute !important;
    right: 5px !important;
    top: 5px
}
.text_under {
    text-decoration: line-through !important;
}

.favorite {
    color: #ff9800 !important;
}

.title_text {
    font-size: 35px;
    margin-bottom: 30px;
}

.outlineHeader {
    width: 100px;
    height: 4px;
}
</style>
