<template>
<v-container fluid>
    <v-stepper v-show="!successAlert" v-model="e1" class="radius-min">
        <v-stepper-header class="radius-min grey lighten-4">
            <v-stepper-step :complete="e1 > 1" step="1">ADD ADDRESS</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 2" step="2">SUMMARY</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step step="3">PAYMENT</v-stepper-step>
        </v-stepper-header>
        <v-stepper-items>
            <v-stepper-content step="1">
                <addAddress @disable="GetData" />
                <v-btn :disabled="disable" color="primary" @click="e1 =2">
                    Continue
                </v-btn>
            </v-stepper-content>
            <v-stepper-content class="pa-0" step="2">
                <Summary class="mt-4" :dessert="dessert" :discount="discount" :totalProductPrice="totalProductPrice" :totalProductActual="totalProductActual" :show="false" @payment="Payment" />
                <v-btn class="ma-4" icon flat @click="e1 = 1">
                    <v-icon>navigate_before</v-icon>
                </v-btn>
            </v-stepper-content>
            <v-stepper-content step="3">
                <Payments @confirmOrder="orderConfirmation" :totalProductPrice="totalProductPrice" :totalProductActual="totalProductActual" />
            </v-stepper-content>
        </v-stepper-items>
        <button id="myBtn" @click="tick"></button>
    </v-stepper>
    <v-card flat v-show="successAlert" class="text-xs-center">
        <img width="100px" src="payment-successful.png" alt="payment-successful">
        <p class="title">Your order has been placed successfully!</p>
        Now sit back and relax while the good folks at our warehouse work their magic! <br>
        <v-btn color="primary" to="/">Continue Shopping</v-btn>
    </v-card>
</v-container>
</template>

<script>
import addAddress from '../../../components/delivarySystem/addAddress'
import Payments from '../../../components/delivarySystem/Payments'
import getImage from '../../../http/Home'
import Summary from '../../../components/cart/cart'
export default {
    components: {
        addAddress,
        Summary,
        Payments
    },
    data() {
        return {
            successAlert: false,
            disable: true,
            address: '',
            row: null,
            e1: 1,
            data: [],
            allData: '',
            discount: '',
            totalProductPrice: '',
            totalProductActual: '',
            dessert: [],
            paymentType: ''
        }
    },
    created() {
        this.fatchBegIte()
        this.tick()
        this.removePaymentId()
    },
    methods: {
        async removePaymentId(){
            var paymentId = localStorage.getItem('paymentId')
            if(paymentId){
                localStorage.removeItem('paymentId')
            }
        },
        async tick(){
            const paymetId = localStorage.getItem('paymentId')
            if(paymetId){
                this.orderConfirmation()
            }else{
                console.log('payment id was not found')
            }
        },
        async orderConfirmation() {
            const paymetId = localStorage.getItem('paymentId')
            if(paymetId){
                this.paymentType = 'Online Payment'
            }else{
                this.paymentType = 'cash on delivery'
            }
            this.allData = {
                'productDetails': this.dessert
            }
            this.allData["address"] = this.data
            var getToken = localStorage.getItem('token')
            var paymentId = localStorage.getItem('paymentId')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                const Data = {
                    paymentType: this.paymentType,
                    Address: this.allData.address,
                    productDetails: this.allData.productDetails,
                    paymentData: this.allData
                }
                await getImage.moveToOrderList(Data, verifyUserData._id)
                .then(res => {
                    if(paymentId){
                        localStorage.removeItem('paymentId')
                    }
                    this.$toast(res.data.message, {
                        color: 'green',
                        dismissable: true
                    })
                    this.$root.$emit('fatchBegLength')
                    this.successAlert = true
                })
                .catch(err => {
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }
        },
        async Payment() {
            this.e1 = 3
        },
        GetData(index) {
            this.disable = false
            this.data = index
        },
        async fatchBegIte() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.getBagList(verifyUserData._id)
                    .then(res => {
                        this.dessert = res.data.Data
                        const productPrice = []
                        const actualPrice = []
                        this.dessert.forEach(value => {
                            productPrice.push(parseInt(value.productPrice) * parseInt(value.Qty))
                            actualPrice.push(parseInt(value.productActualPrice) * parseInt(value.Qty))
                        })
                        this.totalProductPrice = productPrice.reduce((a, b) => a + b, 0)
                        this.totalProductActual = actualPrice.reduce((a, b) => a + b, 0)
                        this.discount = (this.totalProductActual - this.totalProductPrice)
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            }
        },
    }
}
</script>

<style>
.success_msg {
    width: 100px;
    height: 100px;
    background: green
}
</style>
