<!-- The ref attr used to find the swiper instance -->
<template>
<div class="mx-2">
    <!-- swiper -->
    <swiper :options="swiperOptionTop" class="gallery-top" ref="swiperTop">
        <swiper-slide v-for="(image, index) in images" :key="index">
            <img class="radius-min" width="100%" :src="image">
        </swiper-slide>
        <div class="swiper-button-prev" slot="button-prev">
            <div class="main-slider-btn">
                <v-icon>arrow_back</v-icon>
            </div>
        </div>
        <div class="swiper-button-next" slot="button-next">
            <div class="main-slider-btn">
                <v-icon>arrow_forward</v-icon>
            </div>
        </div>
    </swiper>
    <!-- swiper2 Thumbs -->
    <swiper :options="swiperOptionThumbs" class="gallery-thumbs mb-2" ref="swiperThumbs">
        <swiper-slide v-for="(image, index) in images" :key="index">
            <img width="100%" :src="image">
        </swiper-slide>
    </swiper>
</div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import {
    swiper,
    swiperSlide
} from 'vue-awesome-swiper'
export default {
    props: ['images'],
    components: {
        swiper,
        swiperSlide
    },
    data() {
        return {
            swiperOptionTop: {
                spaceBetween: 10,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            },
            swiperOptionThumbs: {
                spaceBetween: 10,
                centeredSlides: true,
                slidesPerView: 'auto',
                touchRatio: 0.2,
                slideToClickedSlide: true
            }
        }
    },
    mounted() {
        this.$nextTick(() => {
            const swiperTop = this.$refs.swiperTop.swiper
            const swiperThumbs = this.$refs.swiperThumbs.swiper
            swiperTop.controller.control = swiperThumbs
            swiperThumbs.controller.control = swiperTop
        })
    }
}
</script>

<style>
.swiper-button-prev,
.swiper-button-next {
    background-image: none;
    width: unset;
    height: unset;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    width: 65%;
}
.gallery-thumbs{
  display: inline-block;
}
.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}
</style>
