<!-- The ref attr used to find the swiper instance -->
<template>
<div>
    <swiper :options="swiperOption">
        <swiper-slide v-for="(image,i) in mainSlider" :key="i">
            <v-card flat color="grey" :to="{name: 'filter', query: { productname: image.productName } }">
                <img width="100%" :src="image.productCoverImage">
            </v-card>
        </swiper-slide>
        <div class="swiper-pagination" slot="pagination"></div>
        <div class="swiper-button-prev" slot="button-prev">
            <div class="main-slider-btn">
                <v-icon>arrow_back</v-icon>
            </div>
        </div>
        <div class="swiper-button-next" slot="button-next">
            <div class="main-slider-btn">
                <v-icon>arrow_forward</v-icon>
            </div>
        </div>
    </swiper>
    <!-- <v-carousel hide-delimiters height>
        <v-carousel-item v-for="(image,i) in mainSlider" :key="i">
            <v-card flat color="grey" :to="{name: 'filter', query: { productname: image.productName } }">
                <img width="100%" :src="image.productCoverImage">
            </v-card>
        </v-carousel-item>
    </v-carousel> -->
</div>
</template>

<script>
import 'swiper/dist/css/swiper.css'
import {
    swiper,
    swiperSlide
} from 'vue-awesome-swiper'
export default {
    props: ['mainSlider'],
    components: {
        swiper,
        swiperSlide
    },
    data() {
        return {
            swiperOption: {
                slidesPerView: 1,
                spaceBetween: 30,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev'
                }
            }
        }
    }
}
</script>

<style>
.swiper-button-prev,
.swiper-button-next {
    background-image: none;
    width: unset;
    height: unset;
}

.main-slider-btn {
    background: #ffffff91;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
</style>
