<template>
<v-container class="pa-0" v-if="images != ''">
    <div class="title_text font-weight-light layout column align-center">
        <span>Best Sellers</span>
        <span class="primary outlineHeader"></span>
    </div>
    <v-container class="pa-0" fluid grid-list-sm>
    <v-layout row wrap>
        <v-flex xs6 sm4 md3 class="pa-1" v-for="(image, index) in images" :key="index">
            <ProductCard @favorite="favoritePro" :_id="image._id" :idnum="index" :proName="image.productName" :image="image.productRelativeImages" :proDisc="image.productDescription" :price="image.productPrice" :disc="image.productDiscount" :actPrice="image.productActualPrice" :favoritePro="image.favorite" />
        </v-flex>
    </v-layout>
    </v-container>
</v-container>
</template>

<script>
import ProductCard from "../../components/Cards/ProductCard"
import getImage from '../../http/Home'
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    components: {
        ProductCard
    },
    data() {
        return {
            images: [], 
            count: 0
        }
    },
    mounted(){
        this.$root.$on('refreshToken',() => {
            this.getRefreshToken()
        })
        this.$root.$on('initializeToken', ()=>{
            this.initialize()
        })
        this.scroll()
    },
    created() {
        this.initialize();
    },
    methods: {
        async favoritePro(index) {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                if (this.images[index].favorite == 'favorite') {
                    this.images[index].favorite = 'favorite_border'
                }else{
                    this.images[index].favorite = 'favorite'
                }
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.favoriteItem(this.images[index], verifyUserData._id, this.images[index]._id) 
                .then(res=>{
                    this.$toast(res.data.message, {
                        color: 'green',
                        dismissable: true
                    })
                    this.$root.$emit('checkStorageData')
                })
                .catch(err=>{
                    this.$toast(err.message, {
                        color: 'red',
                        dismissable: true
                    })
                })
            }else{
                this.$root.$emit('dialog')
            }
        },
        async initialize() {     
            await getImage.getProducts('Best Sellers', this.count)
            .then(res => {
                if (res) {   
                    res.data.data.map(value=>{
                        this.images.push(value)
                    })
                }
                const getToken = localStorage.getItem('token')
                if (getToken) {
                    const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                    getImage.getFavoriteList(verifyUserData._id)
                    .then(res=>{
                        if (res.data.Data) {
                            res.data.Data.forEach(item=>{
                                var _id = item._id
                                var fev = item.favorite
                                this.images.forEach(value =>{
                                    if (value._id == _id) {
                                        value.favorite = fev
                                    }
                                })
                            });
                            this.$root.$emit('checkStorageData')
                        }
                    })
                    .catch(err=>{
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
                }else{
                    this.$root.$emit('checkStorageData')
                }      
            })    
        },
        scroll () {
        window.onscroll = () => {
            let bottomOfWindow = Math.max(window.pageYOffset, document.documentElement.scrollTop, document.body.scrollTop) + window.innerHeight === document.documentElement.offsetHeight

            if (bottomOfWindow) {
                    this.count = this.count + 1
                    this.initialize()
                }
            }
        }
    }

}
</script>
