<template>
<v-container grid-list-md>
    <v-btn flat class="mb-4 ml-0" @click="$router.go(-1)">
        <span>
            <v-icon>keyboard_arrow_left</v-icon>
        </span>
        Go Back
    </v-btn>
    <h1>WishList</h1>
    <v-layout v-if="images != ''" row wrap>
        <v-flex xs6 md3 v-for="(image, i) in images" :key="i">
            <WishList @deleteImage="ImageDelete" @moveInBag="moveTobag" :_id="image._id" :idnum="i" :proName="image.productName" :actPrice="image.productPrice" :price="image.productActualPrice" :favorite="image.favorite" :descount="image.productDiscount" :sizes="image.productSizes" :image="image.productRelativeImages[0]" />
        </v-flex>
    </v-layout>
    <empty v-else />
    <Loading v-show="show" />
</v-container>
</template>

<script>
import Loading from '../../../components/SheraLoader/Loading'
import WishList from '../../../components/Cards/WishList'
import empty from '../../../components/empty/empty'
import getImage from '../../../http/Home'
import Vue from 'vue'
import VueJWT from 'vuejs-jwt'
Vue.use(VueJWT)
export default {
    components: {
        WishList,
        empty,
        Loading
    },
    data() {
        return {
            show: false,
            images: [],
            response: []
        }
    },
    created() {
        this.init()
    },
    methods: {
        async moveTobag(index, size) {
            this.show = true
            var getToken = localStorage.getItem('token')
            if (getToken) {
                var data = JSON.parse(JSON.stringify(this.images[index]))
                
                data["footSize"] = size
                data["Qty"] = '1'
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.moveToBag(data, verifyUserData._id, this.images[index]._id)
                    .then(res => {
                        if (res.data.status == 'success') {
                            this.$root.$emit('checkStorageData')
                            this.$root.$emit('fatchBegLength')
                            this.images.splice(index, 1)
                            this.show = false
                            this.$toast(res.data.message, {
                                color: 'green',
                                dismissable: true
                            })
                        } else {
                            this.$toast(res.data.message, {
                                color: 'orange',
                                dismissable: true
                            })
                        }
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            }
        },
        async ImageDelete(index) {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.favoriteItem(this.images[index], verifyUserData._id, this.images[index]._id)
                    .then(res => {
                        this.response = res
                        this.images.splice(index, 1)
                        this.init()
                        this.$root.$emit('checkStorageData')
                        this.$toast(res.data.message, {
                            color: 'green',
                            dismissable: true
                        })
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                this.$toast('Something Went Wrong', {
                    color: 'red',
                    dismissable: true
                })
                this.$root.$emit('checkStorageData')
            }
        },
        async init() {
            var getToken = localStorage.getItem('token')
            if (getToken) {
                const verifyUserData = this.$jwt.decode(getToken, 'vZiIpmTzqXHp8PpYXTwqc9SRQ1UAyAfC')
                await getImage.getFavoriteList(verifyUserData._id)
                    .then(res => {
                        this.images = res.data.Data
                    })
                    .catch(err => {
                        this.$toast(err.message, {
                            color: 'red',
                            dismissable: true
                        })
                    })
            } else {
                this.$root.$emit('checkStorageData')
            }
        }
    }
}
</script>
